You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a dedicated `.py` file (or files) called `01ex_introduction.py`.

In case you need multiple files, name them `01ex_introduction_es01.py`, `01ex_introduction_es02.py` and so on. 

The exercises need to run without errors in `python3`.

1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [1]:





for x in range(1, 101):
    if x%15 == 0: 
       print ("Hello World") 
       

    elif x%3 == 0:
           print ("Hello")
           
           
    elif x%5 == 0:
           print ("World")
           

        
    else:
        print (x)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
Hello World
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
Hello World
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
Hello World
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
Hello World
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
Hello World
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
Hello World
91
92
Hello
94
World
Hello
97
98
Hello
World

In [2]:


y = ("python", "Works", "Hello World")


for x in range(1, 101):
    if x%15 == 0: 
       print (y[2]) 
       

    elif x%3 == 0:
           print (y[0])
           
           
    elif x%5 == 0:
           print (y[1])
           

        
    else:
        print (x)

1
2
python
4
Works
python
7
8
python
Works
11
python
13
14
Hello World
16
17
python
19
Works
python
22
23
python
Works
26
python
28
29
Hello World
31
32
python
34
Works
python
37
38
python
Works
41
python
43
44
Hello World
46
47
python
49
Works
python
52
53
python
Works
56
python
58
59
Hello World
61
62
python
64
Works
python
67
68
python
Works
71
python
73
74
Hello World
76
77
python
79
Works
python
82
83
python
Works
86
python
88
89
Hello World
91
92
python
94
Works
python
97
98
python
Works

2\. **The swap**

Write a program that swaps the values of two input variables *x* and *y* from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [3]:

x = 10
y = 5

x = x+y
y = x-y
x = x-y 

print ("After swapping: x = ", x, "y =", y)

After swapping: x =  5 y = 10

3\. **Computing the distance**

Write a function that calculates and returns the euclidean distance between two points *u* and *v* in a 2D space, where *u* and *v* are both 2-tuples *(x,y)*.

Example: if *u=(3,0)* and *v=(0,4)*, the function should return 5.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [4]:


import math
u = (3,0)
v = (0,4)

def main():
    distance = math.sqrt(( (u[0]-v[0])**2)+ (u[1]-v[1])**2 )

    print (distance)
    
main()

5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The strings are in the cell below.

In [5]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [6]:

s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

all_freq = {}
  
for i in s1:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
        
print ("Count of all characters in s1 is  :/n"
                                        +  str(all_freq))

for i in s2:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
        
print ("Count of all characters in s2 is :\n "
                                        +  str(all_freq))

Count of all characters in s1 is  :/n{'W': 3, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 7, 'u': 7, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 3, 'B': 1, 'l': 12, 'H': 2, 'd': 5, 'v': 2, 'F': 1, 'w': 1, 'c': 1}
Count of all characters in s2 is :
 {'W': 3, 'r': 21, 'i': 13, 't': 20, 'e': 23, ' ': 49, 'a': 8, 'p': 9, 'o': 19, 'g': 2, 'm': 9, 'h': 11, 'n': 11, 's': 8, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'B': 1, 'l': 13, 'H': 2, 'd': 6, 'v': 3, 'F': 1, 'w': 2, 'c': 2, 'T': 1, 'q': 1, 'k': 1, 'x': 1, 'j': 1, 'z': 1, 'y': 1}

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers in the list:

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Do the same exploiting only the Python data structures.

In [8]:

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

l1 = []

count = 0

for i in l:
    if i not in l1:
        count += 1
        l1.append(i)
    
        
print (count)

54

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* and print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [9]:
x = input("enter the : ")


try:
    z = x + 2
    print(z)
except:
    print(x, " is not a number")

enter the : 5
5  is not a number

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
for i in range(1,11):
    x=i*i*i
    print(x)

1
8
27
64
125
216
343
512
729
1000

In [11]:
list1=[0,1,2,3,4,5,6,7,8,9,10]
for i in list1:
    x=i*i*i
    print(x)

0
1
8
27
64
125
216
343
512
729
1000

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [12]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [13]:
[(a,b,c) for c in range(1,101) for b in range(1,101) for a in range(1,101) if a**2+b**2==c**2]

[(4, 3, 5),
 (3, 4, 5),
 (8, 6, 10),
 (6, 8, 10),
 (12, 5, 13),
 (5, 12, 13),
 (12, 9, 15),
 (9, 12, 15),
 (15, 8, 17),
 (8, 15, 17),
 (16, 12, 20),
 (12, 16, 20),
 (24, 7, 25),
 (20, 15, 25),
 (15, 20, 25),
 (7, 24, 25),
 (24, 10, 26),
 (10, 24, 26),
 (21, 20, 29),
 (20, 21, 29),
 (24, 18, 30),
 (18, 24, 30),
 (30, 16, 34),
 (16, 30, 34),
 (28, 21, 35),
 (21, 28, 35),
 (35, 12, 37),
 (12, 35, 37),
 (36, 15, 39),
 (15, 36, 39),
 (32, 24, 40),
 (24, 32, 40),
 (40, 9, 41),
 (9, 40, 41),
 (36, 27, 45),
 (27, 36, 45),
 (48, 14, 50),
 (40, 30, 50),
 (30, 40, 50),
 (14, 48, 50),
 (45, 24, 51),
 (24, 45, 51),
 (48, 20, 52),
 (20, 48, 52),
 (45, 28, 53),
 (28, 45, 53),
 (44, 33, 55),
 (33, 44, 55),
 (42, 40, 58),
 (40, 42, 58),
 (48, 36, 60),
 (36, 48, 60),
 (60, 11, 61),
 (11, 60, 61),
 (63, 16, 65),
 (60, 25, 65),
 (56, 33, 65),
 (52, 39, 65),
 (39, 52, 65),
 (33, 56, 65),
 (25, 60, 65),
 (16, 63, 65),
 (60, 32, 68),
 (32, 60, 68),
 (56, 42, 70),
 (42, 56, 70),
 (55, 48, 73),
 (48, 55, 73),
 (70, 24, 74),
 (24, 70, 74),
 (72, 21, 75),
 (60, 45, 75),
 (45, 60, 75),
 (21, 72, 75),
 (72, 30, 78),
 (30, 72, 78),
 (64, 48, 80),
 (48, 64, 80),
 (80, 18, 82),
 (18, 80, 82),
 (84, 13, 85),
 (77, 36, 85),
 (75, 40, 85),
 (68, 51, 85),
 (51, 68, 85),
 (40, 75, 85),
 (36, 77, 85),
 (13, 84, 85),
 (63, 60, 87),
 (60, 63, 87),
 (80, 39, 89),
 (39, 80, 89),
 (72, 54, 90),
 (54, 72, 90),
 (84, 35, 91),
 (35, 84, 91),
 (76, 57, 95),
 (57, 76, 95),
 (72, 65, 97),
 (65, 72, 97),
 (96, 28, 100),
 (80, 60, 100),
 (60, 80, 100),
 (28, 96, 100)]

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [14]:
tup1=(2,3,4,5,6)
max(tup1)
def normalize_tup(tup):
    tup2=[] 
    for i in range(len(tup)):
        tup2.append(tup[i]/sum(tup)) #i normalized it the total sum of the tuple
    return tuple(tup2)

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [15]:
#while

s = int(input("How many sentence? "))


n1, n2 = 0, 1
c = 0

# check if the number of terms is valid
if s <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif s == 1:
   print("Fibonacci sequence upto",terms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while c < s:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       c += 1

How many sentence? 5
Fibonacci sequence:
0
1
1
2
3

In [16]:
#for
s = int(input("How many sentence? "))

x=0
n1, n2 = 0, 1
c = 0

# check if the number of terms is valid
if s <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif s == 1:
   print("Fibonacci sequence upto",terms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
for x in range(s):
    if c>s: 
        break
    else:    
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2=nth
        c+=1

How many sentence? 5
Fibonacci sequence:
0
1
1
2
3