Exercice 01. Date : 14/10/2022.

AnaÃ¯s Battut

1\. **The HelloWorld replacement**

a)

In [2]:
"""
First version : creating at the same time the list "HelloWorld" and the tuple
"""
#Declaration of tuple
my_tuple = ()
#To modify an item to tuple = convert tuple to list
l = list(my_tuple)

#For each number in a range of 100 numbers
for i in range(1,101,1):
    #multiples of three AND five
    if (i%3==0 and i%5==0):
        print("HelloWorld")
        l.append(i)
        my_tuple = tuple(l)
    #multiples of three
    elif i%3==0:
        print("Hello")
        l.append("Python")
        my_tuple = tuple(l)
    #multiples of five
    elif i%5==0:
        print ("World")
        l.append("Works")
        my_tuple = tuple(l)
    #if not, just print the number
    else:
        print(i)
        l.append(i)
        my_tuple = tuple(l)

print(my_tuple)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 15, 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 30, 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 45, 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 60, 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 75, 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 90, 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

In [3]:
"""
Second version : creating the list "HelloWorld" and from this list, 
"""

#Fonction to create the list "HelloWorld"
def listHelloWorld(x) :
    #declaring a list
    list = []
    for i in range(1,x+1,1):
        #multiples of three AND five
        if (i%3==0 and i%5==0):
            list.append("HelloWorld")
        #multiples of three
        elif i%3==0:
            list.append("Hello")
        #multiples of five
        elif i%5==0:
            list.append("World")
        #if not, just add the number i to the list   
        else:  
            list.append(i)
    return (list)

list_hello = listHelloWorld(100)
#print(list_hello)


my_tuple = ()
#To modify an item to tuple = convert tuple to list
l = list(my_tuple)

#for every item in the list, we substitute depending on the word
for i in range(1,len(list_hello),1):
    if (list_hello[i] == "Hello"):
        list_hello[i] = "Test"
    elif (list_hello[i] == "World"):
        list_hello[i] = "Works"
    else:
        list_hello[i] = i+1

#converting the list_hello to a tuple
my_tuple = tuple(list_hello)
print(my_tuple)

(1, 2, 'Test', 4, 'Works', 'Test', 7, 8, 'Test', 'Works', 11, 'Test', 13, 14, 15, 16, 17, 'Test', 19, 'Works', 'Test', 22, 23, 'Test', 'Works', 26, 'Test', 28, 29, 30, 31, 32, 'Test', 34, 'Works', 'Test', 37, 38, 'Test', 'Works', 41, 'Test', 43, 44, 45, 46, 47, 'Test', 49, 'Works', 'Test', 52, 53, 'Test', 'Works', 56, 'Test', 58, 59, 60, 61, 62, 'Test', 64, 'Works', 'Test', 67, 68, 'Test', 'Works', 71, 'Test', 73, 74, 75, 76, 77, 'Test', 79, 'Works', 'Test', 82, 83, 'Test', 'Works', 86, 'Test', 88, 89, 90, 91, 92, 'Test', 94, 'Works', 'Test', 97, 98, 'Test', 'Works')

2\. **The swamp**

In [77]:
def swapping(a,b):
    #Python syntac to swaps value
    a, b = b, a
    print("Swapping...")
    print("Value of x :", a, "and y : ", b)
 
x=input("Enter x:\n")
y=input("Enter y:\n")
swapping(x,y)

Enter x:
hellp
Enter y:
ddd
Swapping...
Value of x : ddd and y :  hellp

3\. **Computing the distance**

In [83]:
import math

def computing_distance(u,v):
    return math.sqrt( ((u[0]-v[0])**2) + ((u[1]-v[1])**2) )
    
u = (3,0)
v = (0,4)
computing_distance(u,v)

5.0

4\. **Counting letters**

In [88]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

def counting_letters(s):
    #We create a dictionary with letters as keys and occurences as values
    letters = {}
    #Ignore differences in capitalization : put everything lower
    s = s.lower()
    #For each letter
    for i in s:
        #If it is in the dictionnary, we increment the value 
        if i in letters:
            letters[i]+=1
        else:
        #else, we add it to the dictionnary with a value of 1
            letters[i] = 1
    print(letters)

counting_letters(s1)
counting_letters(s2)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}
{'t': 2, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

5\. **Isolating the unique**

In [36]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def isolating_unique(l):
    #We create a dictionary
    numbers = {}
    #a list to put every unique numbers
    list_count = []
    
    #For each number in the list
    for i in l:
        #If the number is already in the dictionnary, we increment the value
        if i in numbers:
            numbers[i]+=1
        else:
        #else, we add it to the dictionnary with a value of 1
            numbers[i] = 1
    
    #For each numbers in the dictionnary (each keys)        
    for j in numbers:
        #We add it to the unique list
        list_count.append(j)
    print(sorted(list_count))
    print("Unique numbers :",len(list_count))
        

isolating_unique(l)

def isolating_unique_python(l):
    #Same fonction but with the Python data structures
    unique = set(l)
    print(unique)
    print("Unique numbers :",len(unique))
    
isolating_unique_python(l)

[1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]
Unique numbers : 54
{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
Unique numbers : 54

6\. **Casting**

In [1]:
def casting(x,y):
    try:
        sum = x + y
        print(sum)
    except:
        print('sum is not possible')
        
casting(3,'2')
casting(10,23)
casting('hello', 'world')
casting(3.2,4.6)

test = input("Enter a variable :")    
try:
    ret = type_(test)
except ValueError:
    print("Invalid type, enter again.")

sum is not possible
33
helloworld
7.8
Enter a variable :a

NameError: name 'type_' is not defined

7\. **Cubes**

In [22]:
def cubes_for():
    #List of the cubes
    list_cubes = []
    #For each numbers from 0 to 10
    for i in range(0,11,1):
        #cube the number and add it to the list
        list_cubes.append(i**3)
    return list_cubes
cubesFor = cubes_for()
print(cubesFor)

def cubes_list_comprehension():
    #list of the cubes
    list = range(0,11,1)
    return [i**3 for i in list]
cubesListComprehension = cubes_list_comprehension()
print(cubesListComprehension)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

In [23]:
print([(i,j) for i in range(3) for j in range(4)])

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

In [40]:
def Pythagorean_triple():
    my_tuple = ()
    #a**2 + b**2 = c**2
    #a = m**2 - n**2
    #b = 2*m*n
    #c = m**2 + n**2
    
    c, m = 0, 2
    #while c is under 100
    while c < 100 :
        for n in range(1, m):
            a = m*m-n*n
            b = 2*m*n
            c = m*m + n*n
        c+=1
        if c > 100:
            break
        my_tuple = my_tuple + (a, b,c, ';')
        m+=1
    return my_tuple

def Pythagorean_triple_nested_list():
    #with nested_list
    my_tuple = [(a,b,c) for c in range(100) for b in range(c) for a in range(b) if c**2 == a**2 + b**2]
    return my_tuple

my_tuple = Pythagorean_triple_nested_list()     
print(my_tuple)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97)]

10\. **Normalization of a N-dimensional vector**

In [34]:
import random 
import math

def normalization(n):
    #N random numbers in a tuple
    raw = tuple(random.random() for i in range(n))
    #Normalization
    norm = math.sqrt(sum(i**2 for i in raw))
    raw_norm = tuple([i/norm for i in raw])
    print(norm)
    print(raw_norm)
    sum_norm = sum(i**2 for i in raw_norm)
    print(sum_norm)

norm = normalization(5)

1.2099402472543712
(0.26705985801615234, 0.19634097489727248, 0.2026250145587211, 0.6593025336525651, 0.643733272720284)
1.0

11\. **The Fibonacci sequence**

In [35]:
def fibonacci():
    #Fn = F(n-1) + F(n-2)
    #seed values : f0 = 0, f1 = 1
    f = [0,1]
    
    #We have the first two values => we start at the third value
    for i in range(2, 20):
        #we add to the list the result :
        f.append(f[i-1] + f[i-2])
    return(f)

fib = fibonacci()
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]