# 1. HelloWorld Replacement (a)

In [ ]:
for i in range (1, 101):
  if i % 15 == 0:
    print("HelloWorld")
  elif i % 3 == 0:
    print("Hello")
  elif i % 5 == 0:
    print("World")
  else:
    print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

# 1. HelloWorld Replacement (b)

In [16]:
tuple_count = ()

for i in range (1, 101):
  if i % 15 == 0:
    tuple_count += ("PythonWorks",)
  elif i % 3 == 0:
    tuple_count += ("Python",)
  elif i % 5 == 0:
    tuple_count += ("Works",)
  else:
    tuple_count += (str(i),)

print(tuple_count)

('1', '2', 'Python', '4', 'Works', 'Python', '7', '8', 'Python', 'Works', '11', 'Python', '13', '14', 'PythonWorks', '16', '17', 'Python', '19', 'Works', 'Python', '22', '23', 'Python', 'Works', '26', 'Python', '28', '29', 'PythonWorks', '31', '32', 'Python', '34', 'Works', 'Python', '37', '38', 'Python', 'Works', '41', 'Python', '43', '44', 'PythonWorks', '46', '47', 'Python', '49', 'Works', 'Python', '52', '53', 'Python', 'Works', '56', 'Python', '58', '59', 'PythonWorks', '61', '62', 'Python', '64', 'Works', 'Python', '67', '68', 'Python', 'Works', '71', 'Python', '73', '74', 'PythonWorks', '76', '77', 'Python', '79', 'Works', 'Python', '82', '83', 'Python', 'Works', '86', 'Python', '88', '89', 'PythonWorks', '91', '92', 'Python', '94', 'Works', 'Python', '97', '98', 'Python', 'Works')

# 2. The Swap

In [ ]:
x, y = input("enter x and y divided by a space:").split(' ')
y, x = x, y
print("new x: " + x + "\n" + "new y: " + y)

enter x and y divided by a space:2 6
new x: 6
new y: 2

# 3. Computing the Distance

In [ ]:
import math

def euclidean_diff(u, v):
  x = float(u[0]) - float(v[0])
  y = float(u[1]) - float(v[1])

  dist = math.sqrt(x**2 + y**2)
  
  return dist

u = tuple(input('Enter space-separated coordinathions: ').split())
v = tuple(input('Enter space-separated coordinathions: ').split())



print(euclidean_diff(u, v))

Enter space-separated coordinathions: 0 5
Enter space-separated coordinathions: 0 7
2.0

# 4. Counting Letters

In [8]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

def c(s):
  
  count = {}

  for i in s:
    if i in count:
      count[i] += 1
    else:
      count[i] = 1

  return (count)

print("s1: \n" , c(s1) , "\n s2: \n" , c(s2) )

s1:
 {'W': 3, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 7, 'u': 7, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 3, 'B': 1, 'l': 12, 'H': 2, 'd': 5, 'v': 2, 'F': 1, 'w': 1, 'c': 1}
 s2:
 {'T': 1, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 't': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

# 5. Isolating the unique

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

count = 0

repeated = []

unique = []

for i in l:

  if ( (i not in unique) and (i not in repeated)):
    unique.append(i)
    count += 1
       
  elif (i not in repeated):
    unique.remove(i)
    repeated.append(i)
    count -= 1

  else:
    continue

print(unique, count)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53] 37

# 6. Casting

In [27]:
x, y = input("input two variables seperated by a space:").split(' ')

def type_checker(a):
  try:
    a_int = int(a)
    return int
  except ValueError:
    try:
      a_float = float(a)
      return float
    except ValueError:
      return str
    
    
if (type_checker(x) == type_checker(y)):
  print(type_checker(x)(x) + type_checker(y)(y))

else:
  print("the variables are not compatible")

input two variables seperated by a space:234.1 34.78
268.88

# 7. Cubes(a)

In [28]:
cubes = []

for i in range(0, 11):
  cubes.append(i**3)

print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 7. Cubes(b)

In [29]:
cubes = [(i**3) for i in range(0, 11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#8. List comprehension

In [35]:
print( [(x, y) for x in range(3) for y in range(4)] )

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

#9. Nested list comprehension

In [49]:
def pythagoreanTriplets(maximum) :
  #the mathematics are at https://en.wikipedia.org/wiki/Formulas_for_generating_Pythagorean_triples
  c, m = 0, 2
  list_pyth = []
  while c < maximum :	
    for n in range(1, m) :
      a = m * m - n * n
      b = 2 * m * n
      c = m * m + n * n

      if c > maximum :
        break

      
      list_pyth.append((a, b, c))

    m = m + 1
    
  return list_pyth


pythagoreanTriplets(100)

[(3, 4, 5),
 (8, 6, 10),
 (5, 12, 13),
 (15, 8, 17),
 (12, 16, 20),
 (7, 24, 25),
 (24, 10, 26),
 (21, 20, 29),
 (16, 30, 34),
 (9, 40, 41),
 (35, 12, 37),
 (32, 24, 40),
 (27, 36, 45),
 (20, 48, 52),
 (11, 60, 61),
 (48, 14, 50),
 (45, 28, 53),
 (40, 42, 58),
 (33, 56, 65),
 (24, 70, 74),
 (13, 84, 85),
 (63, 16, 65),
 (60, 32, 68),
 (55, 48, 73),
 (48, 64, 80),
 (39, 80, 89),
 (28, 96, 100)]

#10. Normalization of a N-dimensional vector

In [33]:
import math
input_vector = input('input a vector and separate the elements by space').split(' ')

def norm(v):

  sum = 0
  for i in v:
    i = float(i)
    sum += i**2

  len = math.sqrt(sum)

  normalized_vector = []

  for i in input_vector:
    i = float(i)
    normalized_vector.append(i/len)

  return normalized_vector

print(norm(input_vector))

input a vector and separate the elements by space3 4
[0.6, 0.8]

#11. The Fibonacci sequence

In [31]:
fib = [1, 1]

for i in range(18):
  fib.append(fib[i] + fib[i+1])

print(fib)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]