In [1]:
#1-a
for i in range (1,101):
    if i%15==0:
        print('hello world')
    elif i%3==0:
        print ('hello')
    elif i%5==0:
        print ('world')
    else:
        print (i)

1
2
hello
4
world
hello
7
8
hello
world
11
hello
13
14
hello world
16
17
hello
19
world
hello
22
23
hello
world
26
hello
28
29
hello world
31
32
hello
34
world
hello
37
38
hello
world
41
hello
43
44
hello world
46
47
hello
49
world
hello
52
53
hello
world
56
hello
58
59
hello world
61
62
hello
64
world
hello
67
68
hello
world
71
hello
73
74
hello world
76
77
hello
79
world
hello
82
83
hello
world
86
hello
88
89
hello world
91
92
hello
94
world
hello
97
98
hello
world

In [8]:
#1-b
my_tuple=()
my_list=[]

for i in range (1,101):
    if i%15==0:
        my_list.append('hello world')
    elif i%3==0:
        my_list.append('hello')
    elif i%5==0:
        my_list.append('world')
    else:
        my_list.append(i)

for i in range(len(my_list)):
    if my_list[i]=='hello world':
        my_list[i]='python works'
    if my_list[i]=='hello':
        my_list[i]='python'
    if my_list[i]=='hello world':
        my_list[i]='works'
my_tuple=tuple(my_list) 
print (my_tuple)

(1, 2, 'python', 4, 'world', 'python', 7, 8, 'python', 'world', 11, 'python', 13, 14, 'python works', 16, 17, 'python', 19, 'world', 'python', 22, 23, 'python', 'world', 26, 'python', 28, 29, 'python works', 31, 32, 'python', 34, 'world', 'python', 37, 38, 'python', 'world', 41, 'python', 43, 44, 'python works', 46, 47, 'python', 49, 'world', 'python', 52, 53, 'python', 'world', 56, 'python', 58, 59, 'python works', 61, 62, 'python', 64, 'world', 'python', 67, 68, 'python', 'world', 71, 'python', 73, 74, 'python works', 76, 77, 'python', 79, 'world', 'python', 82, 83, 'python', 'world', 86, 'python', 88, 89, 'python works', 91, 92, 'python', 94, 'world', 'python', 97, 98, 'python', 'world')

In [12]:
#2
x=input('insert x: ')
y=input('insert y: ')
x,y=y,x
print ("x=",x,'and','y=',y)

insert x: 10
insert y: 20
x= 20 and y= 10

In [16]:
#3
def dist(u,v):
    distance=((u[0]-v[0])**2+(u[1]-v[1])**2)**.5
    print (distance)
dist((3,0),(0,4))

5.0

In [19]:
#4
test_string="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld.".lower()
my_dict={}
for i in test_string:
        my_dict[i]=my_dict.get(i,0)+1
print (my_dict)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

In [29]:
#5
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique=[]
for i in l:
    if l.count(i)== 1:
        unique.append(i)
print (unique,len(unique))

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53] 37

In [12]:
#6
in_1= 'hi'
in_2= 3.2
try:
    if type(in_1)==str or type(in_2) == str:
        in_1 = str(in_1)
        in_2 = str(in_2)
    sum = in_1 + in_2
    print(sum)

except:
    print("code crash")

hi3.2

In [13]:
#7
list_1=[]
#1  loop:
for x in range(10):
    list_1.append(x**3)
print(f"result is: {list_1}")

#2 List comprehension:
print(f"\nList comprehension is: {[x**3 for x in range(10)]}")

result is: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

List comprehension is: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [16]:
#8
print([(i,j) for i in range(3) for j in range(4)])

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [17]:
#0
print([(a,b,c) for a in range (1,100) for b in range(1,100) for c in range(1,100) if c**2 == b**2 + a**2])

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]

In [20]:
#10
v = (0.25,0.25,0.5)

sum =  0
for i in v:
    sum += i**2
dist = sum**0.5
print(f"The normalized vector is: \n{[i/dist for i in vector]}")

The normalized vector is:
[0.4082482904638631, 0.4082482904638631, 0.8164965809277261]

In [22]:
#11
count , num1 , num2 , list_1 = 0 , 0 , 1 , []
while count <= 20:
    num_sum = num1 + num2
    num1 = num2
    num2 = num_sum
    count += 1
    list_1.append(num1)
print(list_1)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]