You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a dedicated `.py` file (or files) called `01ex_introduction.py`.

In case you need multiple files, name them `01ex_introduction_es01.py`, `01ex_introduction_es02.py` and so on. 

The exercises need to run without errors in `python3`.

1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [79]:
results = []

for i in range(1,101):
    if i % 15 == 0:
        print("HelloWorld")
        results.append("HelloWorld")
    elif i % 3 == 0:
        print("Hello")
        results.append("Hello")
    elif i % 5 == 0:
        print("World")
        results.append("World")
    else:
        print(i)
        results.append(i)

print(tuple(results))

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World')

2\. **The swap**

Write a program that swaps the values of two input variables *x* and *y* from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [4]:
x = input("Enter x")
y = input("Enter y")
x , y = y , x
print("X is: {}, and y is: {}".format(x,y))

X is: 4, and y is: 3

3\. **Computing the distance**

Write a function that calculates and returns the euclidean distance between two points *u* and *v* in a 2D space, where *u* and *v* are both 2-tuples *(x,y)*.

Example: if *u=(3,0)* and *v=(0,4)*, the function should return 5.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [6]:
from math import sqrt as sqrt

def euclidian_distance( u , v):
    distance = sqrt( (u[1]-v[1])**2 + (u[0]-v[0])**2 )
    return distance

euclidian_distance((3,0),(0,4))

5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The strings are in the cell below.

In [8]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [ ]:
def character_counter( string ):
    character_dict = {}
    for character in string.lower():
        if character not in character_dict.keys():
            character_dict[character] = 1
        else:
            character_dict[character] = character_dict[character] + 1
    return character_dict

character_counter(s1)

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers in the list:

In [11]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [72]:
unique_numbers = []
for number in l:
    if number not in unique_numbers:
        unique_numbers.append(number)

print("There are {} unique numbers".format(len(unique_numbers)))
print("Unique numbers are {}".format(unique_numbers))

There are 54 unique numbers
Unique numbers are [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

Do the same exploiting only the Python data structures.

In [76]:
unique_numbers = list(set(l))

print("Using data structures, there are {} unique numbers".format(len(unique_numbers)))
print("Unique numbers are {}".format(unique_numbers))

Using data structures, there are 54 unique numbers
Unique numbers are [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* and print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [42]:
allowed_types = [int, float, str]
result = None

var1 = input("Enter an integer, float or string for variable 1")
var2 = input("Enter an integer, float or string for variable 2")


for first_type in allowed_types:
    for second_type in allowed_types:
        try:
            result = sum([first_type(var1),second_type(var2)])
            break
        except:
            continue
    if result:
        break

if result:
    print("Result is",result)
else:
    print("You have entered incompatible types to add")

You have entered incompatible types to add

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [44]:
## Part A
list_of_cubes = []

for i in range(11):
   list_of_cubes.append(pow(i,3))
print(list_of_cubes) 

## Part B
list_of_cubes = [pow(i,3) for i in range(11)]
print(list_of_cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [45]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [48]:
a = [ (i,j) for i in range(3) for j in range(4) ]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [50]:
solutions = [ (a,b,c) for a in range(1,100) for b in range(1,100) for c in range(1,100) if pow(a,2) + pow(b,2) == pow(c,2)]
print(solutions)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [57]:
a = (3,4)
print(len(a))

2

In [60]:
def normalizer( tup ):
    sqrt_sum = sqrt(sum( pow(each,2) for each in tup))
    normalized_vector = tuple([each/sqrt_sum for each in tup])
    return normalized_vector

normalizer((3,4))

(0.6, 0.8)

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [6]:
def loopFibonacci(n):
    initial = [0,1]
    while len(initial) < n:
        initial.append( initial[-1] + initial[-2] )
    return initial

print(loopFibonacci(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]