In [1]:
# The HelloWorld replacement 
# 01ex_introduction_es01

result=[] #result tuple

for i in range(1,101):
    if i%3 == 0 and i%5 == 0 :
        print("HelloWorld") # multiples of both three and five
        result.append("PythonWorks") 
    elif i%3 == 0: 
        print("Hello") # multiples of three
        result.append("Python") 
    elif i%5 == 0: 
        print("World") # multiples of three
        result.append("Works") 
    else:
        print(i)
        result.append(i)

print("Result Tuple: ", result)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
Result Tuple:  [1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works']

In [2]:
# The swap
# 01ex_introduction_es02

# x, y inputs 

x = input("enter the whatever type of x value: ")
y = input("enter the whatever type of y value: ")

print("initial x value is ", x, "; initial y value is ", y)

# swapping process

x,y=y,x

print("after swapping process: x value is ", x, "; y value is ", y)

enter the whatever type of x value: 5
enter the whatever type of y value: sena
initial x value is  5 ; initial y value is  sena
after swapping process: x value is  sena ; y value is  5

In [3]:
# Computing the distance
# 01ex_introduction_es03

import math

def euclidean_distance(x, y):
    x1, x2 = x[0], x[1]
    y1, y2 = y[0], y[1]
    
    return math.sqrt(((x1+x2)**2)+((y1+y2)**2))
    
print(euclidean_distance((0,3),(0,4)))

5.0

In [4]:
# Counting letters
# 01ex_introduction_es04

def count_letters(s):
    count = {}
    for char in s.lower():
        if char in count:
            count[char] += 1
        else:
            count[char] = 1
    return str(count)

s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

print("s1: ", count_letters(s1))
print("s2: ", count_letters(s2))

s1:  {'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}
s2:  {'t': 2, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

In [5]:
# Isolating the unique
# 01ex_introduction_es05


l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def get_unique_numbers(numbers):

    unique = []

    for number in numbers:
        if number not in unique:
            unique.append(number)

    return str(len(unique))


print("Element numbers of input list are " , str(len(l)) , ". There are " , get_unique_numbers(l) , " unique numbers.")

Element numbers of input list are  80 . There are  54  unique numbers.

In [6]:
# Casting
# 01ex_introduction_es06

x = input("enter x (It can be int/float/str): ")
y = input("enter y (It can be int/float/str): ")

try:
    if x.isalpha() and y.isalpha():
        add_op = x + y
        print("str type -> addition process result is ", add_op)
    else: 
        add_op = int(x) + int(y)
        print("int type -> result of add operation x + y = ", add_op)
except:
    try:
        add_op = float(x) + float(y)
        print("float type -> result of add operation x + y = ", add_op)
    except:     
        print(x + " and " + y + " are different type. Thats why cannot be added!")
finally:
    print("This is finally case! End of the code...")

enter x (It can be int/float/str): 4.2
enter y (It can be int/float/str): 3
float type -> result of add operation x + y =  7.2
This is finally case! End of the code...

In [7]:
# Cubes
# 01ex_introduction_es07

# a - for loop

def cube_list_for():
    cube_list = []
    for num in range(0, 10):
        cube_list.append(num**3)
    return print("for loop result: ", cube_list)


# b - list comprehension

def cube_list_comp():
    cube_list = [num**3 for num in range(0, 10)]
    return print("list comprehension: ", cube_list)

cube_list_for()
cube_list_comp()

for loop result:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
list comprehension:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [8]:
# List comprehension
# 01ex_introduction_es08

a = [(i, j) for i in range(3) for j in range(4)]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [9]:
# Nested list comprehension
# 01ex_introduction_es09

n = 100
pythagorean_triple = [(a, b, c) for a in range(1, n + 1) for b in range(a, n + 1) for c in range(b, n + 1) if a**2 + b**2 == c**2]
print(pythagorean_triple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

In [10]:
# Normalization of a N-dimensional vector
# 01ex_introduction_es10

In [11]:
# The Fibonacci sequence
# 01ex_introduction_es11

fib_list = []

num1, num2 = 0, 1

for x in range(20):
    fib_list.append(num1)
    new_num = num1 + num2
    num1 = num2
    num2 = new_num

print("Fibonacci sequence: " + str(fib_list))

Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]