You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a dedicated `.py` file (or files) called `01ex_introduction.py`.

In case you need multiple files, name them `01ex_introduction_es01.py`, `01ex_introduction_es02.py` and so on. 

The exercises need to run without errors in `python3`.

1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [13]:
list1=[]
for i in range(1,101):
    if i%15 == 0:
        i = "HelloWorld"
    elif i%5 == 0:
        i = "World"
    elif i%3==0: #if divided by 3
        i="Hello"
    list1.append(i)

print(list1)

for x in range(len(list1)):
    if list1[x] == "Hello":
        list1[x] ="Python"
    elif list1[x] == "World":
        list1[x] ="Works"
    elif list1[x] == "HelloWorld":
        list1[x] ="PythonWorks"
list2= tuple(list1)
print(list2)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables *x* and *y* from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [57]:
def swapf(x,y):
    x,y = y,x  
    return x,y
print(swapf("no",7))
def swapf2():
    x=input()
    y=input()
    x,y = y,x  
    return x,y
swapf2()

(7, 'no')
r
t

('t', 'r')

3\. **Computing the distance**

Write a function that calculates and returns the euclidean distance between two points *u* and *v* in a 2D space, where *u* and *v* are both 2-tuples *(x,y)*.

Example: if *u=(3,0)* and *v=(0,4)*, the function should return 5.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [19]:
import math as m
def ed(u,v):
    (x1,y1) = u   
    (x2,y2) = v
    temp=((x2-x1)**2+(y2-y1)**2)
    return (m.sqrt(temp)) 


ed((0,0),(3,4))

5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The strings are in the cell below.

In [21]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [40]:
def cnt(s):
    list1 = []  
    n = {}
    s = s.lower() 
    for i in range(len(s)): 
        if s[i] not in list1:
            list1.append(s[i])            
        elif s[i] in list1:
            continue    
    for i in range(len(list1)):
        n[list1[i]] = s.count(list1[i])
    return  n

cnt(s2)

{'t': 2,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 4,
 'w': 1,
 'n': 1,
 'f': 1,
 'x': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 1,
 'g': 1}

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers in the list:

In [44]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Do the same exploiting only the Python data structures.

In [53]:
def isolator(s):
    list1 = [] 
    for item in s: 
        if item not in list1:
            list1.append(item)
    k=len(list1)   
    return k
isolator(l)

#Do the same exploiting only the Python data structures.
def isolator2(s):
    k=len(set(s))
    return k
isolator2(l)

54

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* and print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [60]:
x = input("x is: ")
y = input("y is: ")

try:
    var1 = int(x)
except ValueError:
    try:
        var1 = float(x) 
    except ValueError:
        var1 = x
try:
    var2 = int(y) 
except ValueError:
    try:
        var2 = float(y) 
    except ValueError:
        var2 = y 
try:
    sum1 = var1+var2
    print(sum1)
except:
    print("Addition was not possible")

x is: y
y is: 8
Addition was not possible

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [62]:
#a
list1 = []
for i in range(0,11):
    list1.append(i**3)
print(list1)

#b
list2 = [i**3 for i in range(0,11)]
print(list2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [23]:
a = [(i,j) for j in range(4) for i in range(3)]
print(a)

[(0, 0), (1, 0), (2, 0), (0, 1), (1, 1), (2, 1), (0, 2), (1, 2), (2, 2), (0, 3), (1, 3), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [66]:
#if c can be max 99, then a and b can be max 99 as well
[(a,b,c) for c in range(1,100) for b in range(1,100) for a in range(1,100) if a**2+b**2==c**2] #iterate through the values from 1 to 101 that sutisfy the Pythagorean condition

[(4, 3, 5),
 (3, 4, 5),
 (8, 6, 10),
 (6, 8, 10),
 (12, 5, 13),
 (5, 12, 13),
 (12, 9, 15),
 (9, 12, 15),
 (15, 8, 17),
 (8, 15, 17),
 (16, 12, 20),
 (12, 16, 20),
 (24, 7, 25),
 (20, 15, 25),
 (15, 20, 25),
 (7, 24, 25),
 (24, 10, 26),
 (10, 24, 26),
 (21, 20, 29),
 (20, 21, 29),
 (24, 18, 30),
 (18, 24, 30),
 (30, 16, 34),
 (16, 30, 34),
 (28, 21, 35),
 (21, 28, 35),
 (35, 12, 37),
 (12, 35, 37),
 (36, 15, 39),
 (15, 36, 39),
 (32, 24, 40),
 (24, 32, 40),
 (40, 9, 41),
 (9, 40, 41),
 (36, 27, 45),
 (27, 36, 45),
 (48, 14, 50),
 (40, 30, 50),
 (30, 40, 50),
 (14, 48, 50),
 (45, 24, 51),
 (24, 45, 51),
 (48, 20, 52),
 (20, 48, 52),
 (45, 28, 53),
 (28, 45, 53),
 (44, 33, 55),
 (33, 44, 55),
 (42, 40, 58),
 (40, 42, 58),
 (48, 36, 60),
 (36, 48, 60),
 (60, 11, 61),
 (11, 60, 61),
 (63, 16, 65),
 (60, 25, 65),
 (56, 33, 65),
 (52, 39, 65),
 (39, 52, 65),
 (33, 56, 65),
 (25, 60, 65),
 (16, 63, 65),
 (60, 32, 68),
 (32, 60, 68),
 (56, 42, 70),
 (42, 56, 70),
 (55, 48, 73),
 (48, 55, 73),
 (70, 24, 74),
 (24, 70, 74),
 (72, 21, 75),
 (60, 45, 75),
 (45, 60, 75),
 (21, 72, 75),
 (72, 30, 78),
 (30, 72, 78),
 (64, 48, 80),
 (48, 64, 80),
 (80, 18, 82),
 (18, 80, 82),
 (84, 13, 85),
 (77, 36, 85),
 (75, 40, 85),
 (68, 51, 85),
 (51, 68, 85),
 (40, 75, 85),
 (36, 77, 85),
 (13, 84, 85),
 (63, 60, 87),
 (60, 63, 87),
 (80, 39, 89),
 (39, 80, 89),
 (72, 54, 90),
 (54, 72, 90),
 (84, 35, 91),
 (35, 84, 91),
 (76, 57, 95),
 (57, 76, 95),
 (72, 65, 97),
 (65, 72, 97)]

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [77]:
tup1=(2,3,4,5,6)
max(tup1)
def normalize_tup(tup):
    tup2=[] 
    sum1 =sum( [num ** 2 for num in tup]) 
    for item in tup:
        tup2.append(item**2/sum1)
    return tuple(tup2)
normalize_tup(tup1)

(0.044444444444444446, 0.1, 0.17777777777777778, 0.2777777777777778, 0.4)

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [91]:
fib2 = [0,1]
a,b = 0,1
for i in range(21):
    a,b = b,a+b
    fib2.append(b)
print(fib2)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]