1\. **Pandas DataFrame**

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a pair of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every `x` BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [16]:
# If haven't downloaded it yet, please get the data file with wget
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ./data/

'wget' is not recognized as an internal or external command,
operable program or batch file.

1\. Create a Pandas DataFrame reading N rows of the `data/data_000637.txt` dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k (check the documentation).

In [21]:
import pandas as pd
import numpy as np
data = pd.read_csv('data/data_000637.txt',nrows=15000) #this gives N rows
data_full = pd.read_csv('data/data_000637.txt')
data.head()
df = pd.DataFrame(data)
df_full = pd.DataFrame(data_full)
df_full

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

2\. Estimate the number of BX in a ORBIT (the value `x`).

*Hint*: check when the BX counter reaches the maximum value before being reset to 0.

In [22]:
BX_max_value = df_full.BX_COUNTER.max()
print("Max BX number in a orbit: "+str(BX_max_value))

Max BX number in a orbit: 3563

3\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information) since the beginning of the data acquisition, and convert the new column to a Time Series.

In [23]:
import datetime as dt



# the one-liner command
df['TIMENS'] = data['TDC_MEAS'] * 25 / 30 + data['BX_COUNTER'] * 25
print(data)



for i in range(1,len(df['TIMENS'])):
    df['TIMENS'][i]+=df['TIMENS'][i-1]
    
#this is for calculating

print(df)

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS        TIMENS
0         1     0          123  3869200167        2374        26  59371.666667
1         1     0          124  3869200167        2374        27  59372.500000
2         1     0           63  3869200167        2553        28  63848.333333
3         1     0           64  3869200167        2558        19  63965.833333
4         1     0           64  3869200167        2760        25  69020.833333
...     ...   ...          ...         ...         ...       ...           ...
14995     1     1            4  3869200316        3399         9  84982.500000
14996     1     1           17  3869200316        3400        15  85012.500000
14997     1     1           10  3869200316        3530        16  88263.333333
14998     1     1            8  3869200316        3533        18  88340.000000
14999     1     0          139  3869200316        3539         0  88475.000000

[15000 rows x 7 columns]

C:\Users\HP\AppData\Local\Temp\ipykernel_15912\435026500.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIMENS'][i]+=df['TIMENS'][i-1]

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS        TIMENS
0         1     0          123  3869200167        2374        26  5.937167e+04
1         1     0          124  3869200167        2374        27  1.187442e+05
2         1     0           63  3869200167        2553        28  1.825925e+05
3         1     0           64  3869200167        2558        19  2.465583e+05
4         1     0           64  3869200167        2760        25  3.155792e+05
...     ...   ...          ...         ...         ...       ...           ...
14995     1     1            4  3869200316        3399         9  6.764781e+08
14996     1     1           17  3869200316        3400        15  6.765631e+08
14997     1     1           10  3869200316        3530        16  6.766513e+08
14998     1     1            8  3869200316        3533        18  6.767397e+08
14999     1     0          139  3869200316        3539         0  6.768282e+08

[15000 rows x 7 columns]

4\. Find out the duration of the data taking in hours, minutes and seconds, by using the features of the Time Series. Perform this check reading the whole dataset.

In [24]:
s = pd.Series(pd.to_timedelta(df['TIMENS'], unit='ns')) #nanosecond to second
df['TOTAL_TIME(sec)'] = s.dt.total_seconds() #new column
print(df)

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS  \
0         1     0          123  3869200167        2374        26
1         1     0          124  3869200167        2374        27
2         1     0           63  3869200167        2553        28
3         1     0           64  3869200167        2558        19
4         1     0           64  3869200167        2760        25
...     ...   ...          ...         ...         ...       ...
14995     1     1            4  3869200316        3399         9
14996     1     1           17  3869200316        3400        15
14997     1     1           10  3869200316        3530        16
14998     1     1            8  3869200316        3533        18
14999     1     0          139  3869200316        3539         0

             TIMENS  TOTAL_TIME(sec)
0      5.937167e+04         0.000059
1      1.187442e+05         0.000119
2      1.825925e+05         0.000183
3      2.465583e+05         0.000247
4      3.155792e+05         0.000316
...             ...              ...
14995  6.764781e+08         0.676478
14996  6.765631e+08         0.676563
14997  6.766513e+08         0.676651
14998  6.767397e+08         0.676740
14999  6.768282e+08         0.676828

[15000 rows x 8 columns]

5\. Use the `.groupby()` method to find out the noisy channels, i.e. the TDC channels with most counts (print to screen the top 3 and the corresponding counts)

In [25]:
import numpy as np

df.groupby('TDC_CHANNEL').max()[-3:]

,HEAD,FPGA,ORBIT_CNT,BX_COUNTER,TDC_MEAS,TIMENS,TOTAL_TIME(sec)
TDC_CHANNEL,,,,,,,
127,1,1,3869200301,3337,29,6.053169e+08,0.605317
128,1,1,3869200306,3337,23,6.331016e+08,0.633102
139,1,1,3869200316,3560,0,6.768282e+08,0.676828

6\. Count the number of non-empty orbits (i.e. the number of orbits with at least one hit).

In [26]:
df_orbit = df.groupby('ORBIT_CNT').count()
print(df_orbit)

# it seems that does not have any non_empty orbit!

            HEAD  FPGA  TDC_CHANNEL  BX_COUNTER  TDC_MEAS  TIMENS  \
ORBIT_CNT
3869200167    43    43           43          43        43      43
3869200168    85    85           85          85        85      85
3869200169   127   127          127         127       127     127
3869200170    98    98           98          98        98      98
3869200171   109   109          109         109       109     109
...          ...   ...          ...         ...       ...     ...
3869200312    90    90           90          90        90      90
3869200313    75    75           75          75        75      75
3869200314    93    93           93          93        93      93
3869200315   136   136          136         136       136     136
3869200316    82    82           82          82        82      82

            TOTAL_TIME(sec)
ORBIT_CNT
3869200167               43
3869200168               85
3869200169              127
3869200170               98
3869200171              109
...                     ...
3869200312               90
3869200313               75
3869200314               93
3869200315              136
3869200316               82

[150 rows x 7 columns]

7\. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139.

In [27]:
tdc_139 = df[(df['TDC_CHANNEL'])==139].groupby('ORBIT_CNT').count()
print(1, len(df))
print(11, len(df[(df['TDC_CHANNEL'])==139]))
print(tdc_139)

1 15000
11 1268
            HEAD  FPGA  TDC_CHANNEL  BX_COUNTER  TDC_MEAS  TIMENS  \
ORBIT_CNT
3869200167     4     4            4           4         4       4
3869200168     8     8            8           8         8       8
3869200169    11    11           11          11        11      11
3869200170     9     9            9           9         9       9
3869200171     9     9            9           9         9       9
...          ...   ...          ...         ...       ...     ...
3869200312     8     8            8           8         8       8
3869200313     7     7            7           7         7       7
3869200314    10    10           10          10        10      10
3869200315     7     7            7           7         7       7
3869200316     8     8            8           8         8       8

            TOTAL_TIME(sec)
ORBIT_CNT
3869200167                4
3869200168                8
3869200169               11
3869200170                9
3869200171                9
...                     ...
3869200312                8
3869200313                7
3869200314               10
3869200315                7
3869200316                8

[150 rows x 7 columns]

In [32]:
tdc_139 = df[(df['TDC_CHANNEL'])==139]
count_unique_139 = len(set(tdc_139["ORBIT_CNT"])) #make it set to find the unique orbit counts
print("Number of unique orbits with at least one measurement from TDC_CHANNEL=139: " + str(count_unique_139))
tdc_139

Number of unique orbits with at least one measurement from TDC_CHANNEL=139: 150

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,TIMENS,TOTAL_TIME(sec)
7,1,0,139,3869200167,2776,0,5.233442e+05,0.000523
15,1,1,139,3869200167,2797,0,1.080973e+06,0.001081
30,1,0,139,3869200167,3085,0,2.157544e+06,0.002158
39,1,0,139,3869200167,3186,0,2.865087e+06,0.002865
48,1,0,139,3869200168,23,0,3.105804e+06,0.003106
...,...,...,...,...,...,...,...,...
14956,1,0,139,3869200316,285,0,6.744718e+08,0.674472
14970,1,0,139,3869200316,1001,0,6.746896e+08,0.674690
14985,1,0,139,3869200316,3389,0,6.756302e+08,0.675630
14989,1,1,139,3869200316,3398,0,6.759691e+08,0.675969
14999,1,0,139,3869200316,3539,0,6.768282e+08,0.676828

8\. Create two Series (one for each FPGA) that have the TDC channel as index, and the number of counts for the corresponding TDC channel as values.

In [33]:
fpga_0 = df[(df['FPGA'])==0]

fpga_1 = df[(df['FPGA'])==1]

print(fpga_0.groupby('TDC_CHANNEL').count())
print(fpga_1.groupby('TDC_CHANNEL').count())

             HEAD  FPGA  ORBIT_CNT  BX_COUNTER  TDC_MEAS  TIMENS  \
TDC_CHANNEL
1               8     8          8           8         8       8
2              16    16         16          16        16      16
3              16    16         16          16        16      16
4              19    19         19          19        19      19
5              19    19         19          19        19      19
...           ...   ...        ...         ...       ...     ...
121            63    63         63          63        63      63
122            71    71         71          71        71      71
123           202   202        202         202       202     202
124           193   193        193         193       193     193
139           879   879        879         879       879     879

             TOTAL_TIME(sec)
TDC_CHANNEL
1                          8
2                         16
3                         16
4                         19
5                         19
...                      ...
121                       63
122                       71
123                      202
124                      193
139                      879

[117 rows x 7 columns]
             HEAD  FPGA  ORBIT_CNT  BX_COUNTER  TDC_MEAS  TIMENS  \
TDC_CHANNEL
1             338   338        338         338       338     338
2             363   363        363         363       363     363
3             277   277        277         277       277     277
4             290   290        290         290       290     290
5             189   189        189         189       189     189
...           ...   ...        ...         ...       ...     ...
125             6     6          6           6         6       6
126             7     7          7           7         7       7
127            16    16         16          16        16      16
128            18    18         18          18        18      18
139           389   389        389         389       389     389

             TOTAL_TIME(sec)
TDC_CHANNEL
1                        338
2                        363
3                        277
4                        290
5                        189
...                      ...
125                        6
126                        7
127                       16
128                       18
139                      389

[124 rows x 7 columns]

9\. **Optional:** Create two histograms (one for each FPGA) that show the number of counts for each TDC channel.