In [4]:
import pandas as pd
import numpy as np
import os

1\. **Text files**

Perform the following operations on plain `txt` files:

+ create a list of integrer numbers and then save it to a text file named `data_int.txt`. Run the `cat` command to print the content of the file.
+ create a matrix of 5x5 floats and then save it to a text file named `data_float.txt`. Use the `cat` command to print the content of the file.
+ load the `txt` file of the previous point and convert it to a `csv` file by hand.

In [2]:
a=[x for x in range(10)]
file_name='./data_int.txt'

with open(file_name,'w') as f:
    f.write(str(a))

!cat data_int.txt

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
b=np.arange((25),dtype=float).reshape(5,5)
file_name='./data_float.txt'
with open(file_name,'w') as f:
  for i in range(5):
    for j in range(5):
      f.write(str(b[i,j])+' ')
    f.write('\n')
!cat data_float.txt

0.0 1.0 2.0 3.0 4.0
5.0 6.0 7.0 8.0 9.0
10.0 11.0 12.0 13.0 14.0
15.0 16.0 17.0 18.0 19.0
20.0 21.0 22.0 23.0 24.0

In [6]:
matrix_5_5=np.loadtxt(file_name)

file_name='./data_float.csv'
with open(file_name,'w') as f:
  for i in range(5):
    for j in range(5):
      f.write(str(matrix_5_5[i,j])+',')
    f.write('\n')
  
!cat data_float.csv

0.0,1.0,2.0,3.0,4.0,
5.0,6.0,7.0,8.0,9.0,
10.0,11.0,12.0,13.0,14.0,
15.0,16.0,17.0,18.0,19.0,
20.0,21.0,22.0,23.0,24.0,

2\. **JSON files**

Load the file *user_data.json*, which can be found at:

- https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

and filter the data by the "CreditCardType" when it equals to "American Express". Than save the data to a new CSV file.

In [7]:
!wget https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

--2022-12-01 10:00:38--  https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601f:18::a27d:912
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/sz5klcdpckc39hd/user_data.json [following]
--2022-12-01 10:00:38--  https://www.dropbox.com/s/raw/sz5klcdpckc39hd/user_data.json
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc0059b436631722778864b3cdb3.dl.dropboxusercontent.com/cd/0/inline/BxyoU3w8UvEwb0RCMDS6hBaqGS0sN5zMSCt1xsO9wCByXMKEpvzOzSYtyrbCYThbVDbnc_3aqQXDTQRpBlLKJ6JjyOWXnlAKhKqq6uENWfVbjZR60FOMlEwc9ldE5bvIYhY5Du45PXdiZNWcRdY7Yy70sWEvO08TE6I6jl-T8jZ7Bw/file# [following]
--2022-12-01 10:00:39--  https://uc0059b436631722778864b3cdb3.dl.dropboxusercontent.com/cd/0/inline/BxyoU3w8UvEwb0RCMDS6hBaqGS0sN5zMSCt1xsO9wCByXMKEpvzOzSYtyrbCYThbVDbnc_3aqQXDTQRpBlLKJ6JjyOWXnlAKhKqq6uENWfVbjZR60FOMlEwc9ldE5bvIYhY5Du45PXdiZNWcRdY7Yy70sWEvO08TE6I6jl-T8jZ7Bw/file
Resolving uc0059b436631722778864b3cdb3.dl.dropboxusercontent.com (uc0059b436631722778864b3cdb3.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc0059b436631722778864b3cdb3.dl.dropboxusercontent.com (uc0059b436631722778864b3cdb3.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40417 (39K) [text/plain]
Saving to: ‘user_data.json’

user_data.json      100%[===================>]  39.47K  --.-KB/s    in 0.02s

2022-12-01 10:00:39 (1.79 MB/s) - ‘user_data.json’ saved [40417/40417]

In [8]:
import json 
data = json.load(open('./user_data.json'))
print(data)

[{'ID': '1', 'JobTitle': 'Project Manager', 'EmailAddress': 'Remy_Crawford1065@typill.biz', 'FirstNameLastName': 'Remy Crawford', 'CreditCard': '6205-7258-7671-0612', 'CreditCardType': 'Capital One'}, {'ID': '2', 'JobTitle': 'Investment  Advisor', 'EmailAddress': 'Clint_Thorpe5003@bulaffy.com', 'FirstNameLastName': 'Clint Thorpe', 'CreditCard': '7083-8766-0251-2345', 'CreditCardType': 'American Express'}, {'ID': '3', 'JobTitle': 'Cook', 'EmailAddress': 'Russel_Hooper9403@bulaffy.com', 'FirstNameLastName': 'Russel Hooper', 'CreditCard': '6378-4461-8535-5847', 'CreditCardType': 'Discover'}, {'ID': '4', 'JobTitle': 'Business Broker', 'EmailAddress': 'Benjamin_Rowan6280@gembat.biz', 'FirstNameLastName': 'Benjamin Rowan', 'CreditCard': '5781-7635-1428-7414', 'CreditCardType': 'Discover'}, {'ID': '5', 'JobTitle': 'Loan Officer', 'EmailAddress': 'Matt_Lloyd3241@guentu.biz', 'FirstNameLastName': 'Matt Lloyd', 'CreditCard': '5771-8416-2736-1700', 'CreditCardType': 'Citibank'}, {'ID': '6', 'JobTitle': 'Cash Manager', 'EmailAddress': 'Domenic_Bell1507@brety.org', 'FirstNameLastName': 'Domenic Bell', 'CreditCard': '8025-0056-4707-1245', 'CreditCardType': 'MasterCard'}, {'ID': '7', 'JobTitle': 'Business Broker', 'EmailAddress': 'Harry_Kennedy245@gmail.com', 'FirstNameLastName': 'Harry Kennedy', 'CreditCard': '1422-4235-8541-1784', 'CreditCardType': 'MasterCard'}, {'ID': '8', 'JobTitle': 'Stockbroker', 'EmailAddress': 'Christy_Emerson9521@supunk.biz', 'FirstNameLastName': 'Christy Emerson', 'CreditCard': '4763-6567-5460-0768', 'CreditCardType': 'Discover'}, {'ID': '9', 'JobTitle': 'Associate Professor', 'EmailAddress': 'Elly_Wright4017@jiman.org', 'FirstNameLastName': 'Elly Wright', 'CreditCard': '8364-4075-7278-4845', 'CreditCardType': 'Maestro'}, {'ID': '10', 'JobTitle': 'Treasurer', 'EmailAddress': 'Rufus_Lyon2653@twace.org', 'FirstNameLastName': 'Rufus Lyon', 'CreditCard': '8512-0806-3001-7570', 'CreditCardType': 'Bank of America'}, {'ID': '11', 'JobTitle': 'Production Painter', 'EmailAddress': 'Morgan_Young1920@acrit.org', 'FirstNameLastName': 'Morgan Young', 'CreditCard': '0031-6632-2223-4501', 'CreditCardType': 'MasterCard'}, {'ID': '12', 'JobTitle': 'Retail Trainee', 'EmailAddress': 'Phillip_Carpenter9505@famism.biz', 'FirstNameLastName': 'Phillip Carpenter', 'CreditCard': '3657-0088-0820-5247', 'CreditCardType': 'American Express'}, {'ID': '13', 'JobTitle': 'Treasurer', 'EmailAddress': 'Ilona_Notman2221@grannar.com', 'FirstNameLastName': 'Ilona Notman', 'CreditCard': '6701-8641-8334-1664', 'CreditCardType': 'MasterCard'}, {'ID': '14', 'JobTitle': 'Food Technologist', 'EmailAddress': 'Laila_Ballard1579@twace.org', 'FirstNameLastName': 'Laila Ballard', 'CreditCard': '2610-4883-2454-8247', 'CreditCardType': 'Maestro'}, {'ID': '15', 'JobTitle': 'Mobile Developer', 'EmailAddress': 'Alexander_Radcliffe8448@gompie.com', 'FirstNameLastName': 'Alexander Radcliffe', 'CreditCard': '8500-5740-2860-5071', 'CreditCardType': 'Discover'}, {'ID': '16', 'JobTitle': 'Insurance Broker', 'EmailAddress': 'Lindsay_Speed8496@jiman.org', 'FirstNameLastName': 'Lindsay Speed', 'CreditCard': '8447-1205-1550-3637', 'CreditCardType': 'Citibank'}, {'ID': '17', 'JobTitle': 'Systems Administrator', 'EmailAddress': 'Logan_Umney9124@womeona.net', 'FirstNameLastName': 'Logan Umney', 'CreditCard': '2858-5205-5402-8268', 'CreditCardType': 'Maestro'}, {'ID': '18', 'JobTitle': 'Accountant', 'EmailAddress': 'Kamila_Stanley8141@vetan.org', 'FirstNameLastName': 'Kamila Stanley', 'CreditCard': '8045-1052-8885-1824', 'CreditCardType': 'Maestro'}, {'ID': '19', 'JobTitle': 'Production Painter', 'EmailAddress': 'Tania_Huggins911@fuliss.net', 'FirstNameLastName': 'Tania Huggins', 'CreditCard': '3730-0802-5148-6556', 'CreditCardType': 'Chase'}, {'ID': '20', 'JobTitle': 'Cook', 'EmailAddress': 'Domenic_Carter252@extex.org', 'FirstNameLastName': 'Domenic Carter', 'CreditCard': '2820-8547-1064-4183', 'CreditCardType': 'Discover'}, {'ID': '21', 'JobTitle': 'Audiologist', 'EmailAddress': 'Liv_Lane5399@bretoux.com', 'FirstNameLastName': 'Liv Lane', 'CreditCard': '5721-1200-6352-0432', 'CreditCardType': 'Visa'}, {'ID': '22', 'JobTitle': 'Staffing Consultant', 'EmailAddress': 'Gina_Overson5363@nimogy.biz', 'FirstNameLastName': 'Gina Overson', 'CreditCard': '2871-4456-3450-7544', 'CreditCardType': 'Citibank'}, {'ID': '23', 'JobTitle': 'Physician', 'EmailAddress': 'Tyson_Franks27@hourpy.biz', 'FirstNameLastName': 'Tyson Franks', 'CreditCard': '5222-3537-0581-5663', 'CreditCardType': 'UnionPay'}, {'ID': '24', 'JobTitle': 'Bookkeeper', 'EmailAddress': 'Rufus_Bentley4108@fuliss.net', 'FirstNameLastName': 'Rufus Bentley', 'CreditCard': '8138-0636-0065-7816', 'CreditCardType': 'UnionPay'}, {'ID': '25', 'JobTitle': 'Physician', 'EmailAddress': 'Jacqueline_Osmond1980@infotech44.tech', 'FirstNameLastName': 'Jacqueline Osmond', 'CreditCard': '1678-8088-8372-1615', 'CreditCardType': 'Discover'}, {'ID': '26', 'JobTitle': 'Banker', 'EmailAddress': 'Tania_Quinn6931@cispeto.com', 'FirstNameLastName': 'Tania Quinn', 'CreditCard': '8686-2013-7133-0063', 'CreditCardType': 'Discover'}, {'ID': '27', 'JobTitle': 'Fabricator', 'EmailAddress': 'Isabel_Redden1090@sheye.org', 'FirstNameLastName': 'Isabel Redden', 'CreditCard': '4857-0176-0370-6874', 'CreditCardType': 'Visa'}, {'ID': '28', 'JobTitle': 'Project Manager', 'EmailAddress': 'Russel_Graves1378@extex.org', 'FirstNameLastName': 'Russel Graves', 'CreditCard': '6718-4818-8011-6024', 'CreditCardType': 'American Express'}, {'ID': '29', 'JobTitle': 'Design Engineer', 'EmailAddress': 'Nicholas_Sylvester802@liret.org', 'FirstNameLastName': 'Nicholas Sylvester', 'CreditCard': '1305-6121-0676-2107', 'CreditCardType': 'UnionPay'}, {'ID': '30', 'JobTitle': 'Cashier', 'EmailAddress': 'Winnie_Gray7029@deavo.com', 'FirstNameLastName': 'Winnie Gray', 'CreditCard': '2153-6618-7375-1260', 'CreditCardType': 'Bank of America'}, {'ID': '31', 'JobTitle': 'Doctor', 'EmailAddress': 'Chelsea_Lucas5667@fuliss.net', 'FirstNameLastName': 'Chelsea Lucas', 'CreditCard': '3731-5883-8065-7803', 'CreditCardType': 'Capital One'}, {'ID': '32', 'JobTitle': 'HR Coordinator', 'EmailAddress': 'Analise_Weasley434@elnee.tech', 'FirstNameLastName': 'Analise Weasley', 'CreditCard': '8036-8876-3464-7777', 'CreditCardType': 'Maestro'}, {'ID': '33', 'JobTitle': 'Electrician', 'EmailAddress': 'Daphne_Rose2866@liret.org', 'FirstNameLastName': 'Daphne Rose', 'CreditCard': '2613-0861-0335-2612', 'CreditCardType': 'Citibank'}, {'ID': '34', 'JobTitle': 'Ambulatory Nurse', 'EmailAddress': 'Alan_Coll689@twace.org', 'FirstNameLastName': 'Alan Coll', 'CreditCard': '2358-6417-0170-6815', 'CreditCardType': 'Chase'}, {'ID': '35', 'JobTitle': 'Fabricator', 'EmailAddress': 'Agnes_Jennson1104@nickia.com', 'FirstNameLastName': 'Agnes Jennson', 'CreditCard': '4653-3251-8811-5468', 'CreditCardType': 'Citibank'}, {'ID': '36', 'JobTitle': 'Mobile Developer', 'EmailAddress': 'Daron_Tyrrell3117@corti.com', 'FirstNameLastName': 'Daron Tyrrell', 'CreditCard': '4602-3063-5462-4380', 'CreditCardType': 'Bank of America'}, {'ID': '37', 'JobTitle': 'CNC Operator', 'EmailAddress': 'Mary_Woodley2673@gembat.biz', 'FirstNameLastName': 'Mary Woodley', 'CreditCard': '2553-7085-1762-8352', 'CreditCardType': 'Wells Fargo'}, {'ID': '38', 'JobTitle': 'Web Developer', 'EmailAddress': 'Melania_Lee2367@mafthy.com', 'FirstNameLastName': 'Melania Lee', 'CreditCard': '6088-8850-2705-3210', 'CreditCardType': 'MasterCard'}, {'ID': '39', 'JobTitle': 'Stockbroker', 'EmailAddress': 'Leanne_Newton1268@typill.biz', 'FirstNameLastName': 'Leanne Newton', 'CreditCard': '5438-0816-4166-4847', 'CreditCardType': 'American Express'}, {'ID': '40', 'JobTitle': 'Global Logistics Supervisor', 'EmailAddress': 'Henry_Oatway7245@bretoux.com', 'FirstNameLastName': 'Henry Oatway', 'CreditCard': '4065-6643-8160-8868', 'CreditCardType': 'Chase'}, {'ID': '41', 'JobTitle': 'Web Developer', 'EmailAddress': 'Nathan_Kirby4985@naiker.biz', 'FirstNameLastName': 'Nathan Kirby', 'CreditCard': '2670-6447-2566-1346', 'CreditCardType': 'Discover'}, {'ID': '42', 'JobTitle': 'Audiologist', 'EmailAddress': 'Caitlyn_Harris6055@tonsy.org', 'FirstNameLastName': 'Caitlyn Harris', 'CreditCard': '4131-3838-8715-7116', 'CreditCardType': 'Visa'}, {'ID': '43', 'JobTitle': 'Audiologist', 'EmailAddress': 'Ramon_Hunt6049@kideod.biz', 'FirstNameLastName': 'Ramon Hunt', 'CreditCard': '8225-4542-2136-6615', 'CreditCardType': 'Bank of America'}, {'ID': '44', 'JobTitle': 'IT Support Staff', 'EmailAddress': 'Kendra_Rowe9597@tonsy.org', 'FirstNameLastName': 'Kendra Rowe', 'CreditCard': '7537-4711-1276-5640', 'CreditCardType': 'UnionPay'}, {'ID': '45', 'JobTitle': 'Chef Manager', 'EmailAddress': 'Rowan_Shea1292@dionrab.com', 'FirstNameLastName': 'Rowan Shea', 'CreditCard': '4757-2183-5374-1642', 'CreditCardType': 'Visa'}, {'ID': '46', 'JobTitle': 'Doctor', 'EmailAddress': 'Ilona_Cox36@eirey.tech', 'FirstNameLastName': 'Ilona Cox', 'CreditCard': '0881-8168-5805-4286', 'CreditCardType': 'Wells Fargo'}, {'ID': '47', 'JobTitle': 'IT Support Staff', 'EmailAddress': 'Marissa_Amstead9020@atink.com', 'FirstNameLastName': 'Marissa Amstead', 'CreditCard': '1055-6387-0584-7138', 'CreditCardType': 'Discover'}, {'ID': '48', 'JobTitle': 'Investment  Advisor', 'EmailAddress': 'Rebecca_Grey8444@typill.biz', 'FirstNameLastName': 'Rebecca Grey', 'CreditCard': '7715-7017-0032-3427', 'CreditCardType': 'Bank of America'}, {'ID': '49', 'JobTitle': 'CNC Operator', 'EmailAddress': 'Owen_Haines4054@bungar.biz', 'FirstNameLastName': 'Owen Haines', 'CreditCard': '8865-2460-2370-7520', 'CreditCardType': 'Discover'}, {'ID': '50', 'JobTitle': 'Associate Professor', 'EmailAddress': 'Selena_Steer3451@bulaffy.com', 'FirstNameLastName': 'Selena Steer', 'CreditCard': '4067-5448-8705-3230', 'CreditCardType': 'Wells Fargo'}, {'ID': '51', 'JobTitle': 'Investment  Advisor', 'EmailAddress': 'Johnny_Hobbs6802@eirey.tech', 'FirstNameLastName': 'Johnny Hobbs', 'CreditCard': '1087-2434-3728-0607', 'CreditCardType': 'MasterCard'}, {'ID': '52', 'JobTitle': 'Cash Manager', 'EmailAddress': 'Hank_Lane5980@eirey.tech', 'FirstNameLastName': 'Hank Lane', 'CreditCard': '1506-8130-7417-4010', 'CreditCardType': 'Wells Fargo'}, {'ID': '53', 'JobTitle': 'Biologist', 'EmailAddress': 'David_Olson6310@liret.org', 'FirstNameLastName': 'David Olson', 'CreditCard': '5703-0573-0581-8012', 'CreditCardType': 'UnionPay'}, {'ID': '54', 'JobTitle': 'Production Painter', 'EmailAddress': 'Nina_Owen9489@gompie.com', 'FirstNameLastName': 'Nina Owen', 'CreditCard': '0207-1503-5346-5238', 'CreditCardType': 'Citibank'}, {'ID': '55', 'JobTitle': 'Clerk', 'EmailAddress': 'Matt_Adams3562@ovock.tech', 'FirstNameLastName': 'Matt Adams', 'CreditCard': '7254-2550-1362-1454', 'CreditCardType': 'Discover'}, {'ID': '56', 'JobTitle': 'Laboratory Technician', 'EmailAddress': 'Wade_Summers6636@brety.org', 'FirstNameLastName': 'Wade Summers', 'CreditCard': '1142-5310-6655-4588', 'CreditCardType': 'Visa'}, {'ID': '57', 'JobTitle': 'Budget Analyst', 'EmailAddress': 'Tony_Giles1960@iatim.tech', 'FirstNameLastName': 'Tony Giles', 'CreditCard': '8130-3425-7573-7745', 'CreditCardType': 'American Express'}, {'ID': '58', 'JobTitle': 'Systems Administrator', 'EmailAddress': 'Marvin_Gunn6317@corti.com', 'FirstNameLastName': 'Marvin Gunn', 'CreditCard': '5241-8630-7873-8114', 'CreditCardType': 'MasterCard'}, {'ID': '59', 'JobTitle': 'Paramedic', 'EmailAddress': 'Wade_Osman7248@sveldo.biz', 'FirstNameLastName': 'Wade Osman', 'CreditCard': '3554-3376-8561-1512', 'CreditCardType': 'Discover'}, {'ID': '60', 'JobTitle': 'Systems Administrator', 'EmailAddress': 'Nick_Andrews7603@deavo.com', 'FirstNameLastName': 'Nick Andrews', 'CreditCard': '8335-4304-1050-6575', 'CreditCardType': 'Citibank'}, {'ID': '61', 'JobTitle': 'Doctor', 'EmailAddress': 'Julius_Hudson3301@infotech44.tech', 'FirstNameLastName': 'Julius Hudson', 'CreditCard': '7622-3780-1820-8033', 'CreditCardType': 'Chase'}, {'ID': '62', 'JobTitle': 'CNC Operator', 'EmailAddress': 'Owen_Allcott5125@bauros.biz', 'FirstNameLastName': 'Owen Allcott', 'CreditCard': '4156-0107-7210-2630', 'CreditCardType': 'American Express'}, {'ID': '63', 'JobTitle': 'Systems Administrator', 'EmailAddress': 'Liliana_Carter7208@jiman.org', 'FirstNameLastName': 'Liliana Carter', 'CreditCard': '4002-5265-4505-1161', 'CreditCardType': 'MasterCard'}, {'ID': '64', 'JobTitle': 'Bookkeeper', 'EmailAddress': 'Marvin_Veale1904@vetan.org', 'FirstNameLastName': 'Marvin Veale', 'CreditCard': '2821-3462-2303-0744', 'CreditCardType': 'Capital One'}, {'ID': '65', 'JobTitle': 'Fabricator', 'EmailAddress': 'Caleb_Cassidy438@extex.org', 'FirstNameLastName': 'Caleb Cassidy', 'CreditCard': '1744-5780-8468-7044', 'CreditCardType': 'Capital One'}, {'ID': '66', 'JobTitle': 'Mobile Developer', 'EmailAddress': 'Mya_King2505@deavo.com', 'FirstNameLastName': 'Mya King', 'CreditCard': '2786-2161-3447-4455', 'CreditCardType': 'Capital One'}, {'ID': '67', 'JobTitle': 'Assistant Buyer', 'EmailAddress': 'Abbey_Flanders597@supunk.biz', 'FirstNameLastName': 'Abbey Flanders', 'CreditCard': '8125-3062-6276-1406', 'CreditCardType': 'UnionPay'}, {'ID': '68', 'JobTitle': 'Project Manager', 'EmailAddress': 'Liam_Lynn3280@kideod.biz', 'FirstNameLastName': 'Liam Lynn', 'CreditCard': '7152-3247-6053-2233', 'CreditCardType': 'American Express'}, {'ID': '69', 'JobTitle': 'Electrician', 'EmailAddress': 'Erick_Wellington505@irrepsy.com', 'FirstNameLastName': 'Erick Wellington', 'CreditCard': '7875-7615-4748-2157', 'CreditCardType': 'Chase'}, {'ID': '70', 'JobTitle': 'Global Logistics Supervisor', 'EmailAddress': 'Jamie_Gray9867@yahoo.com', 'FirstNameLastName': 'Jamie Gray', 'CreditCard': '5256-2237-5830-4507', 'CreditCardType': 'Capital One'}, {'ID': '71', 'JobTitle': 'Lecturer', 'EmailAddress': 'Logan_Michael1305@nickia.com', 'FirstNameLastName': 'Logan Michael', 'CreditCard': '5763-1350-7520-3532', 'CreditCardType': 'Citibank'}, {'ID': '72', 'JobTitle': 'Audiologist', 'EmailAddress': 'Nick_Morris6523@atink.com', 'FirstNameLastName': 'Nick Morris', 'CreditCard': '6450-1322-4742-5753', 'CreditCardType': 'Citibank'}, {'ID': '73', 'JobTitle': 'Biologist', 'EmailAddress': 'Zara_Kelly8902@eirey.tech', 'FirstNameLastName': 'Zara Kelly', 'CreditCard': '6764-1038-8026-1613', 'CreditCardType': 'Chase'}, {'ID': '74', 'JobTitle': 'Dentist', 'EmailAddress': 'Regina_Woodcock5820@yahoo.com', 'FirstNameLastName': 'Regina Woodcock', 'CreditCard': '0208-1753-3870-8002', 'CreditCardType': 'American Express'}, {'ID': '75', 'JobTitle': 'Clerk', 'EmailAddress': 'Logan_Anderson8354@muall.tech', 'FirstNameLastName': 'Logan Anderson', 'CreditCard': '2788-5607-2366-3240', 'CreditCardType': 'Chase'}, {'ID': '76', 'JobTitle': 'Web Developer', 'EmailAddress': 'Charlize_Benfield1039@bauros.biz', 'FirstNameLastName': 'Charlize Benfield', 'CreditCard': '8814-2858-7221-3376', 'CreditCardType': 'Visa'}, {'ID': '77', 'JobTitle': 'Web Developer', 'EmailAddress': 'Barney_Riley6813@vetan.org', 'FirstNameLastName': 'Barney Riley', 'CreditCard': '8632-3080-6254-5510', 'CreditCardType': 'Citibank'}, {'ID': '78', 'JobTitle': 'Business Broker', 'EmailAddress': 'Rick_Edwards9166@corti.com', 'FirstNameLastName': 'Rick Edwards', 'CreditCard': '6747-0304-6147-0185', 'CreditCardType': 'MasterCard'}, {'ID': '79', 'JobTitle': 'Lecturer', 'EmailAddress': 'Remy_Vaughan8074@twipet.com', 'FirstNameLastName': 'Remy Vaughan', 'CreditCard': '6617-5671-7115-1004', 'CreditCardType': 'Capital One'}, {'ID': '80', 'JobTitle': 'Insurance Broker', 'EmailAddress': 'Mavis_Flanders4645@iatim.tech', 'FirstNameLastName': 'Mavis Flanders', 'CreditCard': '4843-2145-7055-2347', 'CreditCardType': 'Chase'}, {'ID': '81', 'JobTitle': 'HR Specialist', 'EmailAddress': 'Carter_Wallace9614@atink.com', 'FirstNameLastName': 'Carter Wallace', 'CreditCard': '4256-7201-6717-4322', 'CreditCardType': 'American Express'}, {'ID': '82', 'JobTitle': 'Cook', 'EmailAddress': 'Vera_Avery8052@womeona.net', 'FirstNameLastName': 'Vera Avery', 'CreditCard': '1764-7042-1226-5002', 'CreditCardType': 'Bank of America'}, {'ID': '83', 'JobTitle': 'Stockbroker', 'EmailAddress': 'Alexander_Huggins7943@deons.tech', 'FirstNameLastName': 'Alexander Huggins', 'CreditCard': '2460-4583-8540-8766', 'CreditCardType': 'Citibank'}, {'ID': '84', 'JobTitle': 'Cook', 'EmailAddress': 'Alma_Everett4997@acrit.org', 'FirstNameLastName': 'Alma Everett', 'CreditCard': '8330-6356-2615-0201', 'CreditCardType': 'Capital One'}, {'ID': '85', 'JobTitle': 'Global Logistics Supervisor', 'EmailAddress': 'Marvin_Reid7926@bretoux.com', 'FirstNameLastName': 'Marvin Reid', 'CreditCard': '3234-3554-1806-3082', 'CreditCardType': 'MasterCard'}, {'ID': '86', 'JobTitle': 'Staffing Consultant', 'EmailAddress': 'Brooklyn_Duvall6367@nimogy.biz', 'FirstNameLastName': 'Brooklyn Duvall', 'CreditCard': '5356-3431-8588-5071', 'CreditCardType': 'Wells Fargo'}, {'ID': '87', 'JobTitle': 'Electrician', 'EmailAddress': 'Chad_Mullins9299@twipet.com', 'FirstNameLastName': 'Chad Mullins', 'CreditCard': '7818-7020-6066-0813', 'CreditCardType': 'Wells Fargo'}, {'ID': '88', 'JobTitle': 'Project Manager', 'EmailAddress': 'Lucy_Latham3334@bretoux.com', 'FirstNameLastName': 'Lucy Latham', 'CreditCard': '7684-0613-7625-8222', 'CreditCardType': 'Wells Fargo'}, {'ID': '89', 'JobTitle': 'Inspector', 'EmailAddress': 'Dorothy_Gordon7252@guentu.biz', 'FirstNameLastName': 'Dorothy Gordon', 'CreditCard': '3582-4375-3185-8087', 'CreditCardType': 'Capital One'}, {'ID': '90', 'JobTitle': 'Systems Administrator', 'EmailAddress': 'David_Ring7929@mafthy.com', 'FirstNameLastName': 'David Ring', 'CreditCard': '7855-7234-8266-8574', 'CreditCardType': 'Maestro'}, {'ID': '91', 'JobTitle': 'Insurance Broker', 'EmailAddress': 'Mason_Lee7893@gmail.com', 'FirstNameLastName': 'Mason Lee', 'CreditCard': '3041-7301-0303-3203', 'CreditCardType': 'UnionPay'}, {'ID': '92', 'JobTitle': 'Staffing Consultant', 'EmailAddress': 'Maia_Stark2797@jiman.org', 'FirstNameLastName': 'Maia Stark', 'CreditCard': '3851-1403-1734-6321', 'CreditCardType': 'American Express'}, {'ID': '93', 'JobTitle': 'Retail Trainee', 'EmailAddress': 'John_Richardson7481@iatim.tech', 'FirstNameLastName': 'John Richardson', 'CreditCard': '3771-4034-8432-8335', 'CreditCardType': 'Maestro'}, {'ID': '94', 'JobTitle': 'Bellman', 'EmailAddress': 'Ryan_Stewart9634@infotech44.tech', 'FirstNameLastName': 'Ryan Stewart', 'CreditCard': '7018-1875-7414-6004', 'CreditCardType': 'Wells Fargo'}, {'ID': '95', 'JobTitle': 'Baker', 'EmailAddress': 'Barney_Ebbs3496@deons.tech', 'FirstNameLastName': 'Barney Ebbs', 'CreditCard': '5114-5536-7367-8526', 'CreditCardType': 'UnionPay'}, {'ID': '96', 'JobTitle': 'Design Engineer', 'EmailAddress': 'Anthony_Welsch9633@jiman.org', 'FirstNameLastName': 'Anthony Welsch', 'CreditCard': '7137-8037-2575-2550', 'CreditCardType': 'Bank of America'}, {'ID': '97', 'JobTitle': 'Stockbroker', 'EmailAddress': 'Ciara_Lomax982@bauros.biz', 'FirstNameLastName': 'Ciara Lomax', 'CreditCard': '3702-3440-2472-5424', 'CreditCardType': 'American Express'}, {'ID': '98', 'JobTitle': 'Webmaster', 'EmailAddress': 'Roger_Walsh3414@fuliss.net', 'FirstNameLastName': 'Roger Walsh', 'CreditCard': '1715-0341-7800-4452', 'CreditCardType': 'Chase'}, {'ID': '99', 'JobTitle': 'Bookkeeper', 'EmailAddress': 'Benny_Verdon7869@acrit.org', 'FirstNameLastName': 'Benny Verdon', 'CreditCard': '0568-6710-4464-2882', 'CreditCardType': 'MasterCard'}, {'ID': '100', 'JobTitle': 'IT Support Staff', 'EmailAddress': 'Logan_Booth1361@bulaffy.com', 'FirstNameLastName': 'Logan Booth', 'CreditCard': '8763-8068-8511-7223', 'CreditCardType': 'UnionPay'}, {'ID': '101', 'JobTitle': 'Investment  Advisor', 'EmailAddress': 'Harry_Hall4872@cispeto.com', 'FirstNameLastName': 'Harry Hall', 'CreditCard': '2022-8687-3282-0601', 'CreditCardType': 'MasterCard'}, {'ID': '102', 'JobTitle': 'Ambulatory Nurse', 'EmailAddress': 'Michael_Jeffery206@deavo.com', 'FirstNameLastName': 'Michael Jeffery', 'CreditCard': '4570-7035-5853-4117', 'CreditCardType': 'Chase'}, {'ID': '103', 'Job

In [9]:
l=[]
for dic in data:
  if dic["CreditCardType"]=="American Express":
    l.append(dic)

df=pd.DataFrame(l)
df.to_csv('./user_data.csv')

3\. **CSV files with Pandas**

Load the file from this url:

- https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

with Pandas. 

+ explore and print the DataFrame
+ calculate, using `groupby()`, the average value of each feature, separately for each class
+ save the file in a JSON format.

In [10]:
!wget https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

--2022-12-01 10:01:41--  https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/kgshemfgk22iy79/mushrooms_categorized.csv [following]
--2022-12-01 10:01:41--  https://www.dropbox.com/s/raw/kgshemfgk22iy79/mushrooms_categorized.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uca6bbac38fba308a5aaec72c162.dl.dropboxusercontent.com/cd/0/inline/Bxxh5KrTQxQXnxHZKECwCcBjWUay_ru6EL054S54GygQNUIzCdGNbPHrGc5Pf6ap8RfsWJb9-zPQB_cBaO5B9S8kbOS1FYMaaz5Qa0gAAV670B_Zndy6Kr38DPsFpQ3p86Vw7rwyV5Q5MUFzxpdgl96lmt9EXi6sqYPhxHJwqE7_PA/file# [following]
--2022-12-01 10:01:42--  https://uca6bbac38fba308a5aaec72c162.dl.dropboxusercontent.com/cd/0/inline/Bxxh5KrTQxQXnxHZKECwCcBjWUay_ru6EL054S54GygQNUIzCdGNbPHrGc5Pf6ap8RfsWJb9-zPQB_cBaO5B9S8kbOS1FYMaaz5Qa0gAAV670B_Zndy6Kr38DPsFpQ3p86Vw7rwyV5Q5MUFzxpdgl96lmt9EXi6sqYPhxHJwqE7_PA/file
Resolving uca6bbac38fba308a5aaec72c162.dl.dropboxusercontent.com (uca6bbac38fba308a5aaec72c162.dl.dropboxusercontent.com)... 162.125.8.15, 2620:100:601f:15::a27d:90f
Connecting to uca6bbac38fba308a5aaec72c162.dl.dropboxusercontent.com (uca6bbac38fba308a5aaec72c162.dl.dropboxusercontent.com)|162.125.8.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 375292 (366K) [text/plain]
Saving to: ‘mushrooms_categorized.csv’

mushrooms_categoriz 100%[===================>] 366.50K  --.-KB/s    in 0.1s

2022-12-01 10:01:42 (2.84 MB/s) - ‘mushrooms_categorized.csv’ saved [375292/375292]

In [11]:
df=pd.read_csv('mushrooms_categorized.csv')
df.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,1,5,2,4,1,6,1,0,1,4,...,2,7,7,0,2,1,4,2,3,5
1,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,3,2,1
2,0,0,2,8,1,3,1,0,0,5,...,2,7,7,0,2,1,4,3,2,3
3,1,5,3,8,1,6,1,0,1,5,...,2,7,7,0,2,1,4,2,3,5
4,0,5,2,3,0,5,1,1,0,4,...,2,7,7,0,2,1,0,3,0,1

In [13]:
df1=df.groupby(['class']).mean()
df1

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
class,,,,,,,,,,,,,,,,,,,,,
0,3.266160,1.615970,4.581749,0.653992,4.334601,0.954373,0.285171,0.068441,6.622624,0.615970,...,1.798479,6.098859,6.064639,0.0,1.931559,1.125475,3.007605,3.201521,3.283270,1.148289
1,3.436159,2.055158,4.421859,0.159346,3.940756,0.995403,0.028601,0.567926,2.863636,0.514811,...,1.394280,5.512768,5.504597,0.0,2.002043,1.009193,1.522983,4.021450,4.031665,1.895812

In [14]:
df1.to_json('mushrooms_categorized_means.json')
!cat mushrooms_categorized_means.json

{"cap-shape":{"0":3.2661596958,"1":3.4361593463},"cap-surface":{"0":1.6159695817,"1":2.0551583248},"cap-color":{"0":4.5817490494,"1":4.4218590398},"bruises":{"0":0.6539923954,"1":0.1593462717},"odor":{"0":4.3346007605,"1":3.9407558733},"gill-attachment":{"0":0.9543726236,"1":0.9954034729},"gill-spacing":{"0":0.2851711027,"1":0.0286006129},"gill-size":{"0":0.0684410646,"1":0.5679264556},"gill-color":{"0":6.6226235741,"1":2.8636363636},"stalk-shape":{"0":0.6159695817,"1":0.5148110317},"stalk-root":{"0":1.4980988593,"1":0.6925434116},"stalk-surface-above-ring":{"0":1.7756653992,"1":1.3595505618},"stalk-surface-below-ring":{"0":1.7984790875,"1":1.3942798774},"stalk-color-above-ring":{"0":6.0988593156,"1":5.5127681307},"stalk-color-below-ring":{"0":6.0646387833,"1":5.5045965271},"veil-type":{"0":0.0,"1":0.0},"veil-color":{"0":1.9315589354,"1":2.0020429009},"ring-number":{"0":1.1254752852,"1":1.0091930541},"ring-type":{"0":3.0076045627,"1":1.5229826353},"spore-print-color":{"0":3.2015209125,"1":4.0214504597},"population":{"0":3.283269962,"1":4.0316649642},"habitat":{"0":1.1482889734,"1":1.8958120531}}

4\. **Reading the credit card numbers**

Get the binary file named *credit_card.dat* from this address:

- https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

and convert the data into the real credit card number, knowing that:
- each line corresponds to a credit card number, which consists of 16 characters (which are numbers in the 0-9 range) divided in 4 blocks, with a whitespace between each block
- each character is written using a 6 bit binary representation (including the whitespace)
- the final 4 bits of each line are a padding used to determine the end of the line, and can be ignored

*Hint*: convert the binary numbers to the decimal representation first, and then use the `chr()` function to convert the latter to a char

In [15]:
!wget https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

--2022-12-01 10:02:59--  https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/8m0syw2tkul3dap/credit_card.dat [following]
--2022-12-01 10:03:00--  https://www.dropbox.com/s/raw/8m0syw2tkul3dap/credit_card.dat
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc1054f764be0cf7350850822281.dl.dropboxusercontent.com/cd/0/inline/BxyCZgDsycsPjMgtGYYwKagpj9WxSI7H4R7rJadmGZPBz1zNwZtMtAHGdQIBf-XESEXk_jklTyv1Zqq21EOXkQnT51mtywvGVHaLRHUNSkomvXfQvgXb00YXD_ZdDStwUtptyO_YADkSjEC4bCVPy6_IP23oyAXXOfgc6AJ5hw4fNg/file# [following]
--2022-12-01 10:03:00--  https://uc1054f764be0cf7350850822281.dl.dropboxusercontent.com/cd/0/inline/BxyCZgDsycsPjMgtGYYwKagpj9WxSI7H4R7rJadmGZPBz1zNwZtMtAHGdQIBf-XESEXk_jklTyv1Zqq21EOXkQnT51mtywvGVHaLRHUNSkomvXfQvgXb00YXD_ZdDStwUtptyO_YADkSjEC4bCVPy6_IP23oyAXXOfgc6AJ5hw4fNg/file
Resolving uc1054f764be0cf7350850822281.dl.dropboxusercontent.com (uc1054f764be0cf7350850822281.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc1054f764be0cf7350850822281.dl.dropboxusercontent.com (uc1054f764be0cf7350850822281.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BxzpTkVZpESElWVdXU0iot0Yp4TrJ0q7UbFOIfLz2PMa64QTQuybADOORr2C0O0qlznnRNGpXty2bodxUUJjL3_uoXMjzxfzKTN_yEXEYFyn5_dxtkcDStE-E9HWJcWi8NFXoD7GOe0sEH9sK0XeM1DIV3Wvfn_AeNHKTgJoLo3AXJ3ufjnyaQFo4BhA37jWLBXfR9pm_W66P617LfvAtPsJ0frwRKlojRL0Vk5dzdeb87iJHewa0AiYtNw7ei3WSnEvgqQM6YC8COWJe7aQnUnkESYM2Z-VH8ZWCn3SIPQbhpOlyqNUA97-mr2-jgdIYHlrscpPz_M2jKbUhlkTPjkYBm2FfGQIkzFT7n2V5S5lvffC39oKj-hI-vMDHNj9wY7NlYLyI6XdWEtKSxPzx86rKBcx8Yx8r63ygFErZwL_cw/file [following]
--2022-12-01 10:03:00--  https://uc1054f764be0cf7350850822281.dl.dropboxusercontent.com/cd/0/inline2/BxzpTkVZpESElWVdXU0iot0Yp4TrJ0q7UbFOIfLz2PMa64QTQuybADOORr2C0O0qlznnRNGpXty2bodxUUJjL3_uoXMjzxfzKTN_yEXEYFyn5_dxtkcDStE-E9HWJcWi8NFXoD7GOe0sEH9sK0XeM1DIV3Wvfn_AeNHKTgJoLo3AXJ3ufjnyaQFo4BhA37jWLBXfR9pm_W66P617LfvAtPsJ0frwRKlojRL0Vk5dzdeb87iJHewa0AiYtNw7ei3WSnEvgqQM6YC8COWJe7aQnUnkESYM2Z-VH8ZWCn3SIPQbhpOlyqNUA97-mr2-jgdIYHlrscpPz_M2jKbUhlkTPjkYBm2FfGQIkzFT7n2V5S5lvffC39oKj-hI-vMDHNj9wY7NlYLyI6XdWEtKSxPzx86rKBcx8Yx8r63ygFErZwL_cw/file
Reusing existing connection to uc1054f764be0cf7350850822281.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 5955 (5.8K) [application/x-ns-proxy-autoconfig]
Saving to: ‘credit_card.dat’

credit_card.dat     100%[===================>]   5.82K  --.-KB/s    in 0s

2022-12-01 10:03:00 (588 MB/s) - ‘credit_card.dat’ saved [5955/5955]

In [16]:
Credit_cards=[]
with open('./credit_card.dat', 'r') as file:
  for line in file:
    s=''
    for i in range(0,len(line),6):
      s+=chr(int(line[i:i+6],2))
    Credit_cards.append(s[:-1])

print('List of credit cards:',Credit_cards)

List of credit cards: ['7648 5673 3775 2271', '3257 8247 3354 2266', '2722 0001 4011 6652', '0661 3063 3742 3150', '0432 1608 1462 4742', '5827 2027 8785 7303', '5774 8528 2087 1117', '8140 1210 6352 2845', '5764 1133 7301 7100', '6456 1737 4126 6726', '1228 8631 7382 0000', '7051 0160 5374 3166', '0618 3587 1630 6376', '1545 5454 7444 5636', '6735 3116 3202 6834', '7287 5011 1547 8413', '7033 2607 3328 4200', '2568 5244 1874 5024', '1684 2253 7570 7118', '0672 2576 0575 6631', '6332 8353 8787 1340', '1813 3361 1175 4211', '2477 6450 8840 2368', '5512 3505 2563 1326', '3083 7882 0621 0025', '4521 5148 8045 0334', '7563 3654 8713 5787', '8324 2664 0476 5561', '0565 2504 7168 3510', '5107 5507 1767 0738', '2462 1821 2448 1443', '2788 0638 6861 6554', '5851 5873 5474 0547', '0670 1004 4013 2655', '5874 5506 3048 0806', '2805 5401 8462 1260', '5083 8406 6310 1862', '1076 1445 3013 2266', '8440 4804 4844 5277', '4758 6141 0686 1387', '7586 0675 0315 2568', '2544 1258 7432 5165', '3474 5023 4434 5626', '1410 0270 0434 5086', '7315 4446 1104 4215', '0224 7742 8300 0266', '0170 2700 3145 0640', '2006 2437 8054 1600', '8142 4055 1776 0026', '3026 7380 1241 1084', '']

5\. **Write data to a binary file**

a) Start from the `data/data_000637.txt` file that we have used during the previous lectures, and convert it to a binary file according to the format defined below:

In [18]:
#from IPython.display import Image
#Image("images/data_format.png")

*Hints*:
- Read the first 10 lines using Pandas
- Iterate over the DataFrame rows
- For every row, ``pack'' the values (features) into a single 64-bit word, according to the format specified above. Use bit-wise shifts and operators to do so.
- Write each 64-bit word to a binary file. You can use `struct` in this way:
```
binary_file.write( struct.pack('<q', word) )
```
where `word` is the 64-bit word.
- Close the file after completing the loop.

In [19]:
!wget https://www.dropbox.com/s/ga9wi6b40cakgae/data_000637.txt

--2022-12-01 10:03:45--  https://www.dropbox.com/s/ga9wi6b40cakgae/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/ga9wi6b40cakgae/data_000637.txt [following]
--2022-12-01 10:03:45--  https://www.dropbox.com/s/raw/ga9wi6b40cakgae/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucfffde37b5ee9c39d3493458bf2.dl.dropboxusercontent.com/cd/0/inline/BxxRY97jSKegvGAJOxIMbM9B60ANg1ItKW4_9g8udgUeCGNDFcK-MOfdHgbFTF8bYNTf_UxC7UhYo5uZb34JQP4PXRUb1H092aItyDuWn1Fng16OVTFO6vBfz4er-PovGzzEyL-HF3uxjVsLYbRI4MWksWVDDEv5oemi5tnW0kqiEA/file# [following]
--2022-12-01 10:03:45--  https://ucfffde37b5ee9c39d3493458bf2.dl.dropboxusercontent.com/cd/0/inline/BxxRY97jSKegvGAJOxIMbM9B60ANg1ItKW4_9g8udgUeCGNDFcK-MOfdHgbFTF8bYNTf_UxC7UhYo5uZb34JQP4PXRUb1H092aItyDuWn1Fng16OVTFO6vBfz4er-PovGzzEyL-HF3uxjVsLYbRI4MWksWVDDEv5oemi5tnW0kqiEA/file
Resolving ucfffde37b5ee9c39d3493458bf2.dl.dropboxusercontent.com (ucfffde37b5ee9c39d3493458bf2.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to ucfffde37b5ee9c39d3493458bf2.dl.dropboxusercontent.com (ucfffde37b5ee9c39d3493458bf2.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: ‘data_000637.txt’

data_000637.txt     100%[===================>]  31.64M  72.0MB/s    in 0.4s

2022-12-01 10:03:46 (72.0 MB/s) - ‘data_000637.txt’ saved [33179236/33179236]

In [24]:
data1=pd.read_csv('./data_000637.txt',nrows=10)
data1

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25
5     1     0           63  3869200167        2762         4
6     1     0           61  3869200167        2772        14
7     1     0          139  3869200167        2776         0
8     1     0           62  3869200167        2774        21
9     1     0           60  3869200167        2788         7

In [26]:
import struct
file_name = "data_000637.dat"

with open(file_name, 'wb') as binary_file:
  for line in data1.values: 
    word = (line[5] << 0 ) 
    word += (line[4] << 5 ) 
    word += (line[3] << 17) 
    word += (line[2] << 49) 
    word += (line[1] << 58)
    word += (line[0] << 62)

    binary_file.write( struct.pack('<q', word))
binary_file.close()


b) Check that the binary file is correctly written by reading it with the code used in the lecture `06_OSEMN.ipynb`, and verify that the content of the `txt` and binary files is consistent.

In [27]:
import  time

data = {}
columns = ['HEAD', 'FPGA', 'CHANNEL', 'ORBIT_CNT', 'BX_CNT', 'TDC_MEAS']
df = pd.DataFrame({}, columns=columns)

with open('./data_000637.dat', 'rb') as file:
    file_content = file.read()
    word_counter = 0
    word_size = 8 # size of the word in bytes
    for i in range(0, len(file_content), word_size):
        word_counter += 1
        if word_counter > 10: break
        word = struct.unpack('<q', file_content[i : i + word_size])[0] # get an 8-byte word
        head     = (word >> 62) & 0x3
        fpga     = (word >> 58) & 0xF
        tdc_chan = (word >> 49) & 0x1FF
        orb_cnt  = (word >> 17) & 0xFFFFFFFF
        bx       = (word >> 5 ) & 0xFFF
        tdc_meas = (word >> 0 ) & 0x1F
        #if i == 0: print ('{0}\t{1}\t{2}\t{3}\t{4}\t{5}'.format('HEAD', 'FPGA', 'CHANNEL', 'ORBIT_CNT', 'BX_CNT', 'TDC_MEAS'))
        #print('{0}\t{1}\t{2}\t{3}\t{4}\t{5}'.format(head, fpga, tdc_chan, orb_cnt, bx, tdc_meas))
        entry = {'HEAD' : head, 'FPGA' : fpga, 'CHANNEL' : tdc_chan, 'ORBIT_CNT' : orb_cnt, 'BX_CNT' : bx, 'TDC_MEAS' : tdc_meas}
        df = df.append(entry, ignore_index=True)

df

  HEAD FPGA CHANNEL   ORBIT_CNT BX_CNT TDC_MEAS
0    1    0     123  3869200167   2374       26
1    1    0     124  3869200167   2374       27
2    1    0      63  3869200167   2553       28
3    1    0      64  3869200167   2558       19
4    1    0      64  3869200167   2760       25
5    1    0      63  3869200167   2762        4
6    1    0      61  3869200167   2772       14
7    1    0     139  3869200167   2776        0
8    1    0      62  3869200167   2774       21
9    1    0      60  3869200167   2788        7

The content of the txt and binary files is consistent.


c) What is the difference of the size on disk between equivalent `txt` and binary files?

In [28]:
data1.iloc[0:10,:].to_csv('./data_000637_1.txt')

In [29]:
size_txt=os.path.getsize("./data_000637_1.txt") #os.path.getsize() returns the size of the file in bytes
size_bin=os.path.getsize("./data_000637.dat")

In [30]:
print('The size of the text file is:',size_txt)
print('The size of the binary file is:',size_bin)

The size of the text file is: 333
The size of the binary file is: 80

The text file is much larger than the binary file and that's because in the text file, text, character, numbers are stored one character per byte i.e. 32667 occupies 5 bytes even though it occupies 2 bytes in memory.
However, in binary file, data is stored in binary format and each data would occupy the same number of bytes on disks as it occupies in memory.