#1. read

In [1]:
import pandas as pd
N = 110000
z = pd.read_csv("/content/data_000637.txt", nrows=N)
z

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0          1     0          123  3869200167        2374        26
1          1     0          124  3869200167        2374        27
2          1     0           63  3869200167        2553        28
3          1     0           64  3869200167        2558        19
4          1     0           64  3869200167        2760        25
...      ...   ...          ...         ...         ...       ...
109995     1     0           64  3869201260        3413        12
109996     1     0           64  3869201260        3436         4
109997     1     0           48  3869201260        3439         0
109998     1     1            1  3869201261         287        25
109999     1     0           59  3869201261         289         6

[110000 rows x 6 columns]

#2. Estimate the number of BX in a ORBIT (the value x).

#3. absolute time in ns

#4

#5. Use the .groupby() method

In [9]:
g = z.groupby('TDC_CHANNEL')
g.max()

             HEAD  FPGA   ORBIT_CNT  BX_COUNTER  TDC_MEAS
TDC_CHANNEL
1               1     1  3869201261        3560        29
2               1     1  3869201260        3563        29
3               1     1  3869201260        3561        29
4               1     1  3869201260        3563        29
5               1     1  3869201260        3562        29
...           ...   ...         ...         ...       ...
129             1     1  3869201181        2526        25
130             1     1  3869201183        2259        28
137             1     1  3869201181        2521        14
138             1     1  3869201181        2521         7
139             1     1  3869201260        3563         0

[133 rows x 5 columns]

#6

#7

#8