#1

In [2]:
import pandas as pd
import numpy as np

int_list = [1, 2, 3, 4, 5, 65, 45, 25, 46,6 , 6542, 56]

with open('/content/data_int.txt', 'w') as f:
    f.write(str(int_list))

!cat data_int.txt

[1, 2, 3, 4, 5, 65, 45, 25, 46, 6, 6542, 56]

float

In [ ]:
float_list = [[i/(10*(j+1)) for i in range(1,6)] for j in range(5)]


with open('/content/data_float.txt', 'w') as f:
    f.write(str(float_list))

!cat data_float.txt

[[0.1, 0.2, 0.3, 0.4, 0.5], [0.05, 0.1, 0.15, 0.2, 0.25], [0.03333333333333333, 0.06666666666666667, 0.1, 0.13333333333333333, 0.16666666666666666], [0.025, 0.05, 0.075, 0.1, 0.125], [0.02, 0.04, 0.06, 0.08, 0.1]]

#2

In [ ]:
import json

data = json.load(open('/content/user_data.json'))

output = [x for x in data if x['CreditCardType'] == 'American Express']

pd.DataFrame(output).to_csv("/content/user_data_american_express.csv")

#3

In [ ]:
mushroom = pd.read_csv('/content/mushrooms_categorized.csv')
print(mushroom.rank)
print(mushroom.dtypes)
print(mushroom.head)
print(mushroom.size)

<bound method NDFrame.rank of       class  cap-shape  cap-surface  cap-color  bruises  odor  \
0         1          5            2          4        1     6
1         0          5            2          9        1     0
2         0          0            2          8        1     3
3         1          5            3          8        1     6
4         0          5            2          3        0     5
...     ...        ...          ...        ...      ...   ...
8119      0          3            2          4        0     5
8120      0          5            2          4        0     5
8121      0          2            2          4        0     5
8122      1          3            3          4        0     8
8123      0          5            2          4        0     5

      gill-attachment  gill-spacing  gill-size  gill-color  ...  \
0                   1             0          1           4  ...
1                   1             0          0           4  ...
2                   1             0          0           5  ...
3                   1             0          1           5  ...
4                   1             1          0           4  ...
...               ...           ...        ...         ...  ...
8119                0             0          0          11  ...
8120                0             0          0          11  ...
8121                0             0          0           5  ...
8122                1             0          1           0  ...
8123                0             0          0          11  ...

      stalk-surface-below-ring  stalk-color-above-ring  \
0                            2                       7
1                            2                       7
2                            2                       7
3                            2                       7
4                            2                       7
...                        ...                     ...
8119                         2                       5
8120                         2                       5
8121                         2                       5
8122                         1                       7
8123                         2                       5

      stalk-color-below-ring  veil-type  veil-color  ring-number  ring-type  \
0                          7          0           2            1          4
1                          7          0           2            1          4
2                          7          0           2            1          4
3                          7          0           2            1          4
4                          7          0           2            1          0
...                      ...        ...         ...          ...        ...
8119                       5          0           1            1          4
8120                       5          0           0            1          4
8121                       5          0           1            1          4
8122                       7          0           2            1          0
8123                       5          0           1            1          4

      spore-print-color  population  habitat
0                     2           3        5
1                     3           2        1
2                     3           2        3
3                     2           3        5
4                     3           0        1
...                 ...         ...      ...
8119                  0           1        2
8120                  0           4        2
8121                  0           1        2
8122                  7           4        2
8123                  4           1        2

[8124 rows x 23 columns]>
class                       int64
cap-shape                   int64
cap-surface                 int64
cap-color                   int64
bruises                     int64
odor                        int64
gill-attachment             int64
gill-spacing                int64
gill-size                   int64
gill-color                  int64
stalk-shape                 int64
stalk-root                  int64
stalk-surface-above-ring    int64
stalk-surface-below-ring    int64
stalk-color-above-ring      int64
stalk-color-below-ring      int64
veil-type                   int64
veil-color                  int64
ring-number                 int64
ring-type                   int64
spore-print-color           int64
population                  int64
habitat                     int64
dtype: object
<bound method NDFrame.head of       class  cap-shape  cap-surface  cap-color  bruises  odor  \
0         1          5            2          4        1     6
1         0          5            2          9        1     0
2         0          0            2          8        1     3
3         1          5            3          8        1     6
4         0          5            2          3        0     5
...     ...        ...          ...        ...      ...   ...
8119      0          3            2          4        0     5
8120      0          5            2          4        0     5
8121      0          2            2          4        0     5
8122      1          3            3          4        0     8
8123      0          5            2          4        0     5

      gill-attachment  gill-spacing  gill-size  gill-color  ...  \
0                   1             0          1           4  ...
1                   1             0          0           4  ...
2                   1             0          0           5  ...
3                   1             0          1           5  ...
4                   1             1          0           4  ...
...               ...           ...        ...         ...  ...
8119                0             0          0          11  ...
8120                0             0          0          11  ...
8121                0             0          0           5  ...
8122                1             0          1           0  ...
8123                0             0          0          11  ...

      stalk-surface-below-ring  stalk-color-above-ring  \
0                            2                       7
1                            2                       7
2                            2                       7
3                            2                       7
4                            2                       7
...                        ...                     ...
8119                         2                       5
8120                         2                       5
8121                         2                       5
8122                         1                       7
8123                         2                       5

      stalk-color-below-ring  veil-type  veil-color  ring-number  ring-type  \
0                          7          0           2            1          4
1                          7          0           2            1          4
2                          7          0           2            1          4
3                          7          0           2            1          4
4                          7          0           2            1          0
...                      ...        ...         ...          ...        ...
8119                       5          0           1            1          4
8120                       5          0           0            1          4
8121                       5          0           1            1          4
8122                       7          0           2            1          0
8123                       5          0           1            1          4

      spore-print-color  population  habitat
0                     2           3        5
1                     3           2        1
2                     3           2        3
3                     2           3        5
4                     3           0        1
...                 ...         ...      ...
8119                  0           1        2
8120                  0           4        2
8121                  0           1        2
8122                  7           4        2
8123                  4           1        2

[8124 rows x 23 columns]>
186852

classes:

In [ ]:
mushroom.groupby(['class']).mean()

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
class,,,,,,,,,,,,,,,,,,,,,
0,3.266160,1.615970,4.581749,0.653992,4.334601,0.954373,0.285171,0.068441,6.622624,0.615970,...,1.798479,6.098859,6.064639,0.0,1.931559,1.125475,3.007605,3.201521,3.283270,1.148289
1,3.436159,2.055158,4.421859,0.159346,3.940756,0.995403,0.028601,0.567926,2.863636,0.514811,...,1.394280,5.512768,5.504597,0.0,2.002043,1.009193,1.522983,4.021450,4.031665,1.895812

saving as JSON

In [ ]:
mushroom.to_json('/content/mushrooms.json')

#4

In [ ]:
credit_card = pd.read_csv('/content/credit_card.dat', header=None)
credit_card

                                                    0
0   1101111101101101001110001000001101011101101101...
1   1100111100101101011101111000001110001100101101...
2   1100101101111100101100101000001100001100001100...
3   1100001101101101101100011000001100111100001101...
4   1100001101001100111100101000001100011101101100...
5   1101011110001100101101111000001100101100001100...
6   1101011101111101111101001000001110001101011100...
7   1110001100011101001100001000001100011100101100...
8   1101011101111101101101001000001100011100011100...
9   1101101101001101011101101000001100011101111100...
10  1100011100101100101110001000001110001101101100...
11  1101111100001101011100011000001100001100011101...
12  1100001101101100011110001000001100111101011110...
13  1100011101011101001101011000001101011101001101...
14  1101101101111100111101011000001100111100011100...
15  1101111100101110001101111000001101011100001100...
16  1101111100001100111100111000001100101101101100...
17  1100101101011101101110001000001101011100101101...
18  1100011101101110001101001000001100101100101101...
19  1100001101101101111100101000001100101101011101...
20  1101101100111100111100101000001110001100111101...
21  1100011110001100011100111000001100111100111101...
22  1100101101001101111101111000001101101101001101...
23  1101011101011100011100101000001100111101011100...
24  1100111100001110001100111000001101111110001110...
25  1101001101011100101100011000001101011100011101...
26  1101111101011101101100111000001100111101101101...
27  1110001100111100101101001000001100101101101101...
28  1100001101011101101101011000001100101101011100...
29  1101011100011100001101111000001101011101011100...
30  1100101101001101101100101000001100011110001100...
31  1100101101111110001110001000001100001101101100...
32  1101011110001101011100011000001101011110001101...
33  1100001101101101111100001000001100011100001100...
34  1101011110001101111101001000001101011101011100...
35  1100101110001100001101011000001101011101001100...
36  1101011100001110001100111000001110001101001100...
37  1100011100001101111101101000001100011101001101...
38  1110001101001101001100001000001101001110001100...
39  1101001101111101011110001000001101101100011101...
40  1101111101011110001101101000001100001101101101...
41  1100101101011101001101001000001100011100101101...
42  1100111101001101111101001000001101011100001100...
43  1100011101001100011100001000001100001100101101...
44  1101111100111100011101011000001101001101001101...
45  1100001100101100101101001000001101111101111101...
46  1100001100011101111100001000001100101101111100...
47  1100101100001100001101101000001100101101001100...
48  1110001100011101001100101000001101001100001101...
49  1100111100001100101101101000001101111100111110...
50                                               1010

In [ ]:
numbers = []
for i in credit_card[0]:
  if( i == '1010'):
    continue
  binn = str(i)
  num = ""
  for j in range(0,108,6):
    num += chr(int(binn[j:j+6], base=2))
  print(num)
  numbers.append(num)

7648 5673 3775 227
3257 8247 3354 226
2722 0001 4011 665
0661 3063 3742 315
0432 1608 1462 474
5827 2027 8785 730
5774 8528 2087 111
8140 1210 6352 284
5764 1133 7301 710
6456 1737 4126 672
1228 8631 7382 000
7051 0160 5374 316
0618 3587 1630 637
1545 5454 7444 563
6735 3116 3202 683
7287 5011 1547 841
7033 2607 3328 420
2568 5244 1874 502
1684 2253 7570 711
0672 2576 0575 663
6332 8353 8787 134
1813 3361 1175 421
2477 6450 8840 236
5512 3505 2563 132
3083 7882 0621 002
4521 5148 8045 033
7563 3654 8713 578
8324 2664 0476 556
0565 2504 7168 351
5107 5507 1767 073
2462 1821 2448 144
2788 0638 6861 655
5851 5873 5474 054
0670 1004 4013 265
5874 5506 3048 080
2805 5401 8462 126
5083 8406 6310 186
1076 1445 3013 226
8440 4804 4844 527
4758 6141 0686 138
7586 0675 0315 256
2544 1258 7432 516
3474 5023 4434 562
1410 0270 0434 508
7315 4446 1104 421
0224 7742 8300 026
0170 2700 3145 064
2006 2437 8054 160
8142 4055 1776 002
3026 7380 1241 108

#5

In [5]:
data = pd.read_csv('/content/data_000637.txt', nrows = 10)
data

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25
5     1     0           63  3869200167        2762         4
6     1     0           61  3869200167        2772        14
7     1     0          139  3869200167        2776         0
8     1     0           62  3869200167        2774        21
9     1     0           60  3869200167        2788         7

In [7]:
for i in data:
  wrd = ''
  print(i)

HEAD
FPGA
TDC_CHANNEL
ORBIT_CNT
BX_COUNTER
TDC_MEAS